@use 'sass:math';
@use '../abstracts/mixins' as *;

::selection {
  background: var(--c-highlight);
  color: var(--c-black);
  text-shadow: none;
}

::-moz-selection {
  background: var(--c-highlight);
  color: var(--c-black);
  text-shadow: none;
}

html {
	font-family: $font-family;
	font-size: var(--font-size);
	min-height: 100vh;
}

body {
	font-size: 1em;
	color: var(--c-front);
  background-color: var(--c-back);
}
h1, h2 {
	font-size: 1.2rem;
	color: var( --c-front-brand);
}

h3, h4, h5, h6 {
	font-size: 1rem;
}

input, textarea {
  font-size: max(1em, 16px) !important;
}

.hidden{
	display: none;
	visibility: hidden;
}

.nav-link[accesskey]{
	display: none;
	@include MD(){
		display: unset;
	}
}
// 複寫 BS CLASS
#mainContainer{
	.container{
		max-width: unset !important;
	}
}
.container{
	max-width: unset !important;
}

.select2.select2-container,
.select2,
.select2-container{
	width: 100% !important;
	display: table;
	table-layout: fixed;
}

.no-icon{
	&::before{
		content: none !important;
	}
	&::after{
		content: none !important;
	}
}

.btn{
	border-radius: 99rem 0 99rem 99rem;
	font-family: var(--bs-body-font-family);
	background-color: var(--c-brand);
	color: var(--c-brand-t);
	&[class*="fa"]{
		line-height: var(---bs-btn-line-height);
		&::before{
			font-family: "Font Awesome 6 Pro 6.7.2", "Font Awesome 6 Pro";
			margin-right: .5ch;
		}
	}
	&:hover,&.focus{
		background-color: var(--c-highlight);
		color: var(--c-highlight-t);
		box-shadow: 1px 1px 0 3px var(--c-shadow);
	}
	&.active{
		background-color: var(--c-highlight);
		color: var(--c-shadow);
	}
}

.btn-brand{
	background-color: var(--c-brand);
	color: var(--c-brand-t);
	&:hover,&:focus,&.active{
		background-color: var(--c-highlight);
		color: var(--c-highlight-t);
	}
}

.btn-main{
	background-color: var(--c-main);
	color: var(--c-main-t);
	&:hover,&:focus,&.active{
		background-color: var(--c-highlight);
		color: var(--c-highlight-t);
	}
}

.btn-highlight{
	@include obj-theme(highlight,0);
	color: var(--c-highlight-t);
	font-weight: bold;
	&:hover,&:focus,&.active{
		background-color: var(--c-hover);
		color: var(--c-hover-t);
	}
}

.btn-focus{
	@include obj-theme(focus,0);
	color: var(--c-highlight-t);
	font-weight: bold;
	&:hover,&:focus,&.active{
		background-color: var(--c-hover);
		color: var(--c-hover-t);
	}
}

.btn-hover{
	@include obj-theme(hover,0);
	color: var(--c-hover-t);
	font-weight: bold;
	&:hover,&:focus,&.active{
		background-color: var(--c-highlight);
		color: var(--c-highlight-t);
	}
}

.btn-no-color{
	background-color: var(--c-g1);
	color: var(--c-front-sub);
	font-weight: bold;
	&:hover,&:focus,&.active{
		background-color: var(--c-hover);
		color: var(--c-hover-t);
	}
}

.btn-more{
	&::after{
		content: "\f178";
		font-weight: bold;
		font-family: "Font Awesome 6 Pro 6.7.2", "Font Awesome 6 Pro";
		padding: 0 .5ch;
	}
}

.btn-text-lite{
	background-color: transparent;
	color: inherit;
	&:hover,&:focus,&.active{
		background-color: var(--c-back-sub);
		color: var(--c-front-sub);
	}
}

.btn-text-{
	background-color: transparent;
	color: inherit;
	&:hover,&:focus,&.active{
		background-color: var(--c-back-sub);
		color: var(--c-front-sub);
	}
}

.form-group{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	label:not(.tag){
		flex: 0 0 6rem;
		&:is([required]){
			&::after{
				content: ' *';
				color: #F00;
			}
		}
	}
	.form-control:is([list],[select]) {
		position: relative;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23333' viewBox='0 0 16 16'%3E%3Cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: right 1ch center;
	}
	.form-control + .input-group-text{
		&::before{
			content: '\f00d';
			@include fa-icon;
		}
	}
}
.dropdown-menu.show{
	z-index: 99;
}

.captcha {
	min-height: 3rem;
}

$icons: (
    "info": "\f05a",    // fa-info-circle
    "search": "\f002",  // fa-search
    "list": "\f0ca",    // fa-list
    "login": "\f090",   // fa-sign-in-alt
    "logout": "\f08b",  // fa-sign-out-alt
		"palette": "\f53f",  // fa-palette
		"book": "\f02d"  // fa-palette
);

@each $name, $code in $icons {
	.icon-#{$name} {
		&::before {
			content: $code;
			@include fa-icon;
		}
	}
}

.tags{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 1ch;
	.tag{
		color: var(--c-front);
		background-color: var(--c-back-sub);
		border:solid 1px var(--c-white);
		border-radius: .5rem;
		padding: .2em .5em;
		align-self: center;
		&:has(.form-check-input:focus) {
			outline-width: 5px !important;
			outline-color: var(--c-focus) !important;
			outline-style: dotted !important;
			input{
				outline-width: 0 !important;
			}
		}
		&:has(input:checked) {
			border:2px solid var(--c-highlight);
		}
		&:hover{
			span{
				&::before{
					display: inline-block;
					animation: shake 0.5s;
				}
			}
		}
	}
}

.tab-content{
	color: var(--c-black);
	.items{
		margin: 0 0 1.5rem 0;
	}
	ul,li{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	h4{
		display: none;
		&:is(:last-child){
			display: block;
			&::before{
				content: '很抱歉，沒有';
			}
			&::after{
				content: '的資料';
			}
		}
	}
}

.extra-where{
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 0;
	font-weight: bold;
	z-index: 2;
	label{
		display: flex;
		height: 2rem;
		line-height: 2rem;
		background-color: var(--c-main);
		color: var(--c-main-t);
		letter-spacing: 1px;
		&:nth-child(2n-1){
			border-radius: .5rem 0 0 .5rem;
			@include obj-theme(sub,0);
			padding: 0 0 0 1ch;
			&:empty{
				background-color: transparent;
			}
		}
		&:nth-child(2n){
			border-radius: 0 .5rem .5rem 0;
			padding: 0 2ch 0 0;
			&::before{
				content: "";
				display: inline-block;
				height: 0;
				width: 0;
				margin-right:0;
				padding:0;
				border: 1rem solid var(--c-sub);
				border-top: 1rem solid transparent;
				border-bottom: 1rem solid transparent;
				border-right: 1ch solid transparent;
				opacity: 1;
			}
			&:empty{
				background-color: transparent;
			}
		}
		&:only-child{
			padding-right: 1ch;
			border-radius: .5rem;
		}
	}
	&:not(:has(label)){
		color: var(--c-main-t);
		margin:  0 !important;
	}
}

.breadcrumb{
	a{
		color: var(--c-front-brand-front);
	}
	.active{
		color: var(--c-front);
	}
}

/* Basic Rules */
.toggle-switch {
	display:inline-block;
	height:1.5rem;
	margin:0 8px;
	position:relative;
	.dot {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		border-radius:99rem;
		box-shadow:0 0 0 2px var(--c-white);
		width: 3rem;
		cursor:pointer;
		border:2px solid transparent;
		overflow:hidden;
		transition:.4s;
		&:before {
			position:absolute;
			content:"";
			width:100%;
			height:100%;
			background:var(--c-white);
			opacity: .6;
			border-radius:99rem;
			transform:translateX(-1.5rem);
			transition:.4s;
		}
	}
	input {
		display:none;
		&:checked{
			+ .dot {
				box-shadow:0 0 0 2px var(--c-hover);
				background-color: var(--c-hover);
				&::before {
					opacity: 1;
					transform:translateX(1.5rem);
					background:var(--c-highlight);
				}
			}
		}
	}
	.toggle-label{
		margin-left: 3.5rem;
	}
	&:hover{
		color: var(--c-hover);
		.dot {
			box-shadow:0 0 0 2px var(--c-white);
		}
	}
}
/* Style Wired */


.backTop{
	position: absolute;
	top: -1.25rem;
	left: 50%;
	translate: -50% 0;
	width: 4rem;
	height: 4rem;
	line-height: 1rem;
  text-align: center;
  padding: 0 1ch;
	text-decoration: none;
	background-color: var(--c-back);
	color: var(--c-front)	!important;
	border-radius: 99rem;
	// @include shadow;
	box-shadow: 0 -3px 3px 0 rgba(0,0,0,0.3);
	font-size: .9rem;
	z-index: 99;
	&::before{
		display: block;
		rotate: 270deg;
		font-size: 1.2rem;
		margin-top: .5ch;
		margin-bottom: -.5ch;
		height: 2rem;
		line-height: 1.5;
		font-weight: bold;
	}
	&:hover{
		box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
	}
}

body:is([id^="list"]){
	.backTop{
		position: fixed;
		top: auto;
		left: auto;
		bottom: 6rem;
		right: 1rem;
		opacity: 0;
		pointer-events: none;
	}
	&.startup{
		.backTop{
			pointer-events: all;
			opacity: .7;
		}
	}
	@include MD{
		.backTop{
			bottom: 1rem;
			right: 1rem;
		}
	}
}

body:not([id^="list"]){
	.backTop{
		position: fixed;
		top: auto;
		left: auto;
		bottom: 1rem;
		right: 1rem;
		opacity: 0;
		pointer-events: none;
	}
	&.startup{
		.backTop{
			pointer-events: all;
			opacity: .7;
		}
	}
}

#loadingRuning{
	position: relative;
	width: max-content;
	text-align: center;
	margin: 2rem auto 2rem auto;
	&::before{
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		display: block;
		width: 100%;
		height: auto;
		aspect-ratio: 1 / 1;
		background-color: var(--c-back);
		z-index: 1;
		border-radius: 99rem;
		opacity: 0.8;
		z-index: 99;
	}
	&::after{
		position: relative;
		content: '資料讀取中...';
		display: block;
		margin-top: -3.5rem;
		z-index: 2;
	}
	#loadingIcon {
		position: relative;
		display: block;
		overflow: visible;
		width: 10rem;
		height: 10rem;
		rotate: 90deg;
		translate: -2.5rem 0;
		scale: .5;
		z-index: 3;
		g {
			animation: slide $transition-duration linear infinite;
			&:nth-child(2) {
				animation-delay: calc(#{$transition-duration} / 4);
				path {
					animation-delay: calc(#{$transition-duration} / 4);
					stroke-dasharray: 0px $path-length + 1;
					stroke-dashoffset: 1px;
				}
			}
		}
		path{
			stroke: url(#gradient);
			stroke-width: 1.5rem;
			stroke-linecap: round;
			fill: none;
			stroke-dasharray: 0 $path-length;
			stroke-dashoffset: 0;
			animation: escalade $transition-duration cubic-bezier(0.8, 0, 0.2, 1) infinite;
		}
	}
}

.blockUI.blockMsg.blockPage{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
}
.waiting{
	position: relative;
	width: 320px;
	min-width: 320px;
	aspect-ratio: 3 / 2;
	padding: 70px 0 0 130px;
	&::before{
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: var(--c-back-sub);
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 164.4 85.9" viewBox="0 0 164.4 85.9"><path d="M111.2 7.4c5.9 4.9 10.1 11.3 20.8 17.9 10.6 6.7 27.6 13.5 31.5 22.7 3.9 9.1-5.3 20.4-16.3 26.4-11.1 5.9-23.9 6.4-33.7 5.9-9.9-.4-16.7-1.9-23.5-2.1-6.7-.2-13.3.8-27 3.5s-34.5 7.1-47 1.4C3.4 77.3-.9 61.5.2 46.3c1-15.2 7.3-29.9 20-35.3S52 9.4 64.7 8.3c12.7-1 18.9-6.9 25.9-8.1s14.6 2.2 20.6 7.2z" style="fill:%23f06"/></svg>');
		mask-position: center;
		mask-size: contain;
		mask-repeat: no-repeat;
	}
	i{
		position: absolute;
		aspect-ratio: 1 / 1;
		width: 160px;
		height: 160px;
		top: calc(50% - 80px);
		left: -10px;
		font-size: 56px;
		color: var(--c-white) !important;
		background-color: var(--c-hover);
		padding: 56px;
		mask-image: url('data:image/svg+xml,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%23FF0066" d="M38.8,-50.4C47,-39.3,48.3,-24,52.3,-8.2C56.3,7.6,62.9,23.9,59.6,39C56.3,54.1,43.1,68,27.1,73.1C11.2,78.3,-7.3,74.7,-21.4,66.3C-35.4,57.9,-44.9,44.6,-53.4,30.5C-62,16.4,-69.6,1.4,-67,-11.5C-64.4,-24.4,-51.5,-35.3,-38.7,-45.6C-25.8,-56,-12.9,-65.9,1.2,-67.3C15.3,-68.7,30.5,-61.6,38.8,-50.4Z" transform="translate(100 100)" /></svg>');
		mask-position: center;
		mask-size: contain;
		mask-repeat: no-repeat;
		text-align: center;
		scale: .8;
		&::before{
			position: relative;
			z-index: 0;
			font-size: 3.5rem;
		}
	}
	h1{
		position: relative;
		z-index: 1;
		text-align: left;
		font-size: 22px !important;
		color: var(--c-front-brand);
		margin: 0 0 .5em !important;
	}
	p{
		position: relative;
		z-index: 1;
		text-align: left;
		font-size: 18px;
		color: var(--c-front);
		margin: 0;
	}

	@include MD(){
		scale: 1.2;
		h1{
			position: relative;
			z-index: 1;
			text-align: left;
			font-size: 20px !important;
			color: var(--c-front-brand);
		}
		p{
			position: relative;
			z-index: 1;
			text-align: left;
			font-size: 15px;
			color: var(--c-front);
		}
	}
	@include LG(){
		scale: 1.5;
		h1{
			position: relative;
			z-index: 1;
			text-align: left;
			font-size: 18px !important;
			color: var(--c-front-brand);
		}
		p{
			position: relative;
			z-index: 1;
			text-align: left;
			font-size: 13px;
			color: var(--c-front);
		}
	}
	&.animation{
		i{
			animation: heartbeat 1.5s ease-in-out infinite;
		}
	}
}