@use 'sass:math';
@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
$font-family: 'Nunito', 'SF Pro', 'Arial', 'Noto Sans', 'PingFang TC', 'Microsoft JhengHei', sans-serif;
$gray-steps: 4;
$transition-duration: 2s;
$path-length: 157px; // Retrieved using SVG's

// === regular color palette ===
$white:#FFFFFF;
$black:#000000;
$lite:#F5F5FC;
$dark:#3A3A3F;

// === default pattern ===
// 為了直接編輯器看著色，現在直接用CSS變數寫在 theme中
// $brand:	#13341e;
// $main:		#4A7561;
// $sub:		#bcdfb6;
// $brand-t:#FFFFFF;
// $main-t:	#FFFFFF;
// $sub-t:	#000000;
// $highlight: 		#FADA65;
// $highlight-t: 	#121826;

// 依參數，組裝對應 CSS 變數名稱
@function set-color($mode, $type: "") {
  @return var(--c-#{$mode}#{$type});
}

// 依傳入值均分並計算色票
@function generate-step-color($index, $total, $start, $end) {
  @if $index == 0 { @return $start; } // 第一個色號就是起始色
  @if $index == $total { @return $end; } // 最後一個色號就是結束色

  $percentage: calc(($index * 100) / ($total - 1)); // 計算漸變比例
  @return mix($end, $start, $percentage * 1%); // 正確應用 mix()
}

// 依參數，組裝對應 CSS 變數名稱
@function gradient-var($name, $type) {
  @return unquote("--g-#{$name}-#{$type}");
}

// // 被 @extend 引用時，依照傳入參數 提供 背景色、文字色、邊框
@mixin obj-theme($mode, $line: 0) {
  background-color: set-color($mode);
  color: set-color($mode, "-t");

  // 處理邊框
  @if $line > 0 {
    border-width: #{$line}px;
    border-style: solid;
    border-color: set-color($mode);
  }
}

// 被 @extend 引用時，依照傳入參數 提供 背景漸層
@mixin gradient-bg($name, $direction: "h / v") {
  background-image: var(#{gradient-var($name, $direction)});
}

@mixin fa-icon {font-weight: bold; font-family: "Font Awesome 6 Pro", "Font Awesome 6 Free";margin-right:.5ch;}
@mixin shadow {box-shadow: 0 0 5px 0 var(--c-shadow);}

// 配合 bootstrap 斷點 處理 RWD，以行動裝置優先
/* RWD media breakpoints (Mobile First, aligned with Bootstrap 5.3.3) */
$XS: 0;     /* Extra small (default, no media query needed) */
$SM: 576px; /* Small */
$MD: 768px; /* Medium */
$LG: 992px; /* Large */
$XL: 1440px; /* Extra large */
$XXL: 1920px; /* Extra extra large */
@mixin XS() {@content;}
@mixin SM() {@media only screen and (min-width: $SM) {@content;}}
@mixin MD() {@media only screen and (min-width: $MD) {@content;}}
@mixin LG() {@media only screen and (min-width: $LG) {@content;}}
@mixin XL() {@media only screen and (min-width: $XL) {@content;}}
@mixin XXL() {@media only screen and (min-width: $XXL) {@content;}}