@use '../abstracts/mixins' as *;


:root, [data-bs-theme=light]{
	--bs-body-font-family: #{$font-family};
	// SM以下螢幕將字級定為14px 避免行動裝置字體過大；其餘裝置配合無障礙以16px為基礎
	--font-size: 14px;
	@include SM{--font-size: 16px;}

	// 把色票移來主題，直接可以看效果。
  --c-brand: 	#397BB3;
	--c-main: 	#E4F1F2;
	--c-sub:		#FAF9ED;
	--c-brand-t:	#F7F5EF;
	--c-main-t:		#063648;
	--c-sub-t: 		#063648;
	--c-highlight: 		#FCDF3F;
	--c-hover:		 		#009991;
	--c-hover-t:		 	#FCDF3F;
	--c-highlight-t: 	#000000;
	--c-focus: 				#F28A10;

	--c-front: 				#000000;
	--c-front-sub: 		#000000;
	--c-front-brand: 	#063648;
	--c-back: 		#F7F5EF;
	--c-back-sub: #FFFFFF;
	--c-back-blur: rgba(231,241,241, 0.88);

	--g-brand: linear-gradient(#E4F1F2 30%, #89AFC1 95%);
	--g-brant-top: linear-gradient(#E4F1F2 60%, #C7DCE2 98%);
	--g-brand-bottom: linear-gradient(#C7DCE2 2%, #89AFC1 95%);

	// 固定值色票，提供版面上需要強制指定黑白使用，有需要再覆蓋
	--c-shadow: rgba(0,0,0,0.3);	//固定透明陰影
	--c-white: 	#FFFFFF;	//固定白色
	--c-black: 	#000000;	//固定黑色
	--c-lite: 	#F2F2F2;	//固定淺灰
	--c-dark: 	#534E3C;	//固定深灰
	--c-gary: 	#CCCCCC;	//固定中性灰

	// 灰度 g1~g3 色票 function，把灰色值 丟給 generate-step-color() 計算結果，輸出 CSS 變數
  @for $i from 1 through ($gray-steps - 1) {
    --c-g#{$i}: #{generate-step-color($i, $gray-steps, #F2F2F2, #CCCCD1)};
  }

	// 主題漸層色票 function
	// #{gradient-var(brand, h)}: linear-gradient(to right, var(--c-brand), var(--c-main));
  // #{gradient-var(main, h)}: linear-gradient(to right, var(--c-main), var(--c-sub));
  // #{gradient-var(sub, h)}: linear-gradient(to right, var(--c-sub), var(--c-white));

  // #{gradient-var(brand, v)}: linear-gradient(to bottom, var(--c-brand), var(--c-main));
  // #{gradient-var(main, v)}: linear-gradient(to bottom, var(--c-main), var(--c-sub));
  // #{gradient-var(sub, v)}: linear-gradient(to bottom, var(--c-sub), var(--c-white));

	// #{gradient-var(brand, hr)}: linear-gradient(to left, var(--c-brand), var(--c-main));
  // #{gradient-var(main, hr)}: linear-gradient(to left, var(--c-main), var(--c-sub));
  // #{gradient-var(sub, hr)}: linear-gradient(to left, var(--c-sub), var(--c-white));

  // #{gradient-var(brand, vr)}: linear-gradient(to top, var(--c-brand), var(--c-main));
  // #{gradient-var(main, vr)}: linear-gradient(to top, var(--c-main), var(--c-sub));
  // #{gradient-var(sub, vr)}: linear-gradient(to top, var(--c-sub), var(--c-white));

	/* Primary 主題相關 */
	// --bs-primary: #{$brand}; /* 主色 */
	// --bs-primary-rgb: 197, 70, 81;
	// --bs-primary-bg-subtle: #{$lite}; /* 淡色背景 */
	// --bs-primary-text-emphasis: #{$dark}; /* 暗色文字 */
}

// ------------------------------------------------------------------
// === 深色主題 ===--------------------------------------------------
// ------------------------------------------------------------------
[data-bs-theme="dark"] {
  // 把色票移來主題，直接可以看效果。
  --c-brand:	#354589;
	--c-main:		#4F63A3;
	--c-sub:		#3E3E42;
	--c-brand-t:	#FFFFFF;
	--c-main-t:		#FFFFFF;
	--c-sub-t: 		#FFFFFF;
	--c-highlight: 		#0067B7;
	--c-highlight-t: 	#FFFFFF;
	--c-hover:				#C02679;
	--c-hover-t:				#FFFFFF;
	--c-focus: 				#C02679;

	--c-front: 				#FFFFFF;
	--c-front-sub: 		#B3DBEC;
	--c-front-brand: 	#70BFE0;
	--c-back: 		#171D22;
	--c-back-sub: #1E2B37;
	--c-back-blur: rgba(24,29,33,0.88);

	--g-brand: linear-gradient(#354589 30%, #4F63A3 95%);
	--g-brant-top: linear-gradient(#354589 60%, #3F4589 98%);
	--g-brand-bottom: linear-gradient(#3F4589 2%, #4F63A3 95%);


	// 固定值色票，提供版面上需要強制指定黑白使用，有需要再覆蓋
	--c-shadow: rgba(0,0,0,0.8);	//固定透明陰影
	--c-white: 	#FFFFFF;	//固定白色
	--c-black: 	#0A0C1B;	//固定黑色
	--c-lite: 	#F5F5FC;	//固定淺灰
	--c-dark: 	#3A3A3F;	//固定深灰
	--c-gary: 	#CCCCCC;	//固定中性灰

	// 灰度 g1~g3 色票 function，把灰色值 丟給 generate-step-color() 計算結果，輸出 CSS 變數
  @for $i from 0 through ($gray-steps - 1) {
    --c-g#{$i}: #{generate-step-color($i, $gray-steps, #3A3A3F, #464647)};
  }
}


// ------------------------------------------------------------------
// === 高對比主題 ===------------------------------------------------
// ------------------------------------------------------------------
[data-bs-theme="contrast"] {
  --c-brand: 	#3F094D;
	--c-main: 	#63E6BD;
	--c-sub:		#FEFCEC;
	--c-brand-t:	#F5FF3C;
	--c-main-t:		#36005A;
	--c-sub-t: 		#333333;
	--c-highlight: 		#F5FF3C;
	--c-highlight-t: 	#36005A;
	--c-hover:		 		#4B0CB3;
	--c-hover-t:		 	#FEFCEC;
	--c-focus: 				#F28A10;

	--c-front: 				#333333;
	--c-front-sub: 		#3F094D;
	--c-front-brand: 	#4B0CB3;
	--c-back: 		#F8F7F3;
	--c-back-sub: #FFFFFF;

	// 固定值色票，提供版面上需要強制指定黑白使用，有需要再覆蓋
	--c-shadow: rgba(0,0,0,0.8);	//固定透明陰影
	--c-white: 	#FFFFFF;	//固定白色
	--c-black: 	#000000;	//固定黑色
	--c-lite: 	#F5F5FC;	//固定淺灰
	--c-dark: 	#3A3A3F;	//固定深灰
	--c-gary: 	#CCCCCC;	//固定中性灰

	--bs-body-color: #36005A;

	--g-brand: linear-gradient(#63E6BD 30%, #45A185 95%);
	--g-brant-top: linear-gradient(#63E6BD 60%, #5AD2AD 98%);
	--g-brand-bottom: linear-gradient(#5AD2AD 2%, #45A185 95%);

	// 灰度 g1~g3 色票 function，把灰色值 丟給 generate-step-color() 計算結果，輸出 CSS 變數
  @for $i from 1 through ($gray-steps - 1) {
    --c-g#{$i}: #{generate-step-color($i, $gray-steps, #F5F5FC, #CCCCD1)};
  }
}

// ------------------------------------------------------------------
// === 淺色主題 2  ===-----------------------------------------------
// ------------------------------------------------------------------
[data-bs-theme="light2"]{
  // 把色票移來主題，直接可以看效果。
  --c-brand:	#FFE502;
	--c-main:		#FDCF00;
	--c-sub:		#FFC0C6;
	--c-brand-t:	#000000;
	--c-main-t:		#000000;
	--c-sub-t: 		#000000;
	--c-highlight: 		#02B4AA;
	--c-hover:		 		#02B4AA;
	--c-highlight-t: 	#FFFFFF;
	--c-focus: 				#02B4AA;

	--c-front: 				#000000;
	--c-front-sub: 		#000000;
	--c-front-brand: 	#F29800;
	--c-back: 		#FFF7EA;
	--c-back-sub: #FFFFFF;

	// 固定值色票，提供版面上需要強制指定黑白使用，有需要再覆蓋
	--c-shadow: rgba(0,0,0,0.3);	//固定透明陰影
	--c-white: 	#FFFFFF;	//固定白色
	--c-black: 	#000000;	//固定黑色
	--c-lite: 	#F5F5FC;	//固定淺灰
	--c-dark: 	#3A3A3F;	//固定深灰
	--c-gary: 	#CCCCCC;	//固定中性灰

	// 灰度 g1~g3 色票 function，把灰色值 丟給 generate-step-color() 計算結果，輸出 CSS 變數
  @for $i from 1 through ($gray-steps - 1) {
    --c-g#{$i}: #{generate-step-color($i, $gray-steps, #F5F5FC, #CCCCD1)};
  }
}

// ------------------------------------------------------------------
// === 淺色主題 3  ===-----------------------------------------------
// ------------------------------------------------------------------
[data-bs-theme="light3"]{
  // 把色票移來主題，直接可以看效果。
  --c-brand:	#06C97B;
	--c-main:		#FDCF00;
	--c-sub:		#5b35de;
	--c-brand-t:	#000000;
	--c-main-t:		#000000;
	--c-sub-t: 		#FFFFFF;
	--c-highlight: 		#f97aab;
	--c-hover:		 		#f97aab;
	--c-highlight-t: 	#000000;
	--c-focus: 				#5b35de;

	--c-front: 				#000000;
	--c-front-sub: 		#000000;
	--c-front-brand: 	#06C97B;
	--c-back: 		#FFF7EA;
	--c-back-sub: #FFFFFF;

	// 固定值色票，提供版面上需要強制指定黑白使用，有需要再覆蓋
	--c-shadow: rgba(0,0,0,0.3);	//固定透明陰影
	--c-white: 	#FFFFFF;	//固定白色
	--c-black: 	#000000;	//固定黑色
	--c-lite: 	#F5F5FC;	//固定淺灰
	--c-dark: 	#3A3A3F;	//固定深灰
	--c-gary: 	#CCCCCC;	//固定中性灰

	// 灰度 g1~g3 色票 function，把灰色值 丟給 generate-step-color() 計算結果，輸出 CSS 變數
  @for $i from 1 through ($gray-steps - 1) {
    --c-g#{$i}: #{generate-step-color($i, $gray-steps, #FFF7EA, #CCCCD1)};
  }

		// 主題漸層色票 function
		// #{gradient-var(brand, h)}: linear-gradient(to right, var(--c-main), var(--c-main));
		// #{gradient-var(main, h)}: linear-gradient(to right, var(--c-main), var(--c-main));
		// #{gradient-var(sub, h)}: linear-gradient(to right, var(--c-sub), var(--c-sub));

		// #{gradient-var(brand, v)}: linear-gradient(to bottom, var(--c-brand), var(--c-brand));
		// #{gradient-var(main, v)}: linear-gradient(to bottom, var(--c-main), var(--c-main));
		// #{gradient-var(sub, v)}: linear-gradient(to bottom, var(--c-sub), var(--c-sub));

		// #{gradient-var(brand, hr)}: linear-gradient(to left, var(--c-brand), var(--c-brand));
		// #{gradient-var(main, hr)}: linear-gradient(to left, var(--c-main), var(--c-main));
		// #{gradient-var(sub, hr)}: linear-gradient(to left, var(--c-sub), var(--c-sub));

		// #{gradient-var(brand, vr)}: linear-gradient(to top, var(--c-brand), var(--c-brand));
		// #{gradient-var(main, vr)}: linear-gradient(to top, var(--c-main), var(--c-main));
		// #{gradient-var(sub, vr)}: linear-gradient(to top, var(--c-sub), var(--c-sub));
}

// ------------------------------------------------------------------
// === 深色主題 3  ===-----------------------------------------------
// ------------------------------------------------------------------
[data-bs-theme="dark2"]{
  // 把色票移來主題，直接可以看效果。
  --c-brand:	#fab449;
	--c-main:		#fce4df;
	--c-sub:		#eda9b6;
	--c-brand-t:	#000000;
	--c-main-t:		#000000;
	--c-sub-t: 		#000000;
	--c-highlight: 		#00bfc1;
	--c-hover: 				#007A7C;
	--c-highlight-t: 	#000000;
	--c-focus: 				#00bfc1;

	--c-front: 				#FFFFFF;
	--c-front-sub: 		#fae3ce;
	--c-front-brand: 	#fab449;
	--c-back: 		#2a1604;
	--c-back-sub: #0f1110;

	// 固定值色票，提供版面上需要強制指定黑白使用，有需要再覆蓋
	--c-shadow: rgba(0,0,0,0.3);	//固定透明陰影
	--c-white: 	#FFFFFF;	//固定白色
	--c-black: 	#000000;	//固定黑色
	--c-lite: 	#F5F5FC;	//固定淺灰
	--c-dark: 	#3A3A3F;	//固定深灰
	--c-gary: 	#CCCCCC;	//固定中性灰

	// 灰度 g1~g3 色票 function，把灰色值 丟給 generate-step-color() 計算結果，輸出 CSS 變數
  @for $i from 0 through ($gray-steps - 1) {
    --c-g#{$i}: #{generate-step-color($i, $gray-steps, #3A3A3F, #2a1604)};
  }

		// 主題漸層色票 function
		// #{gradient-var(brand, h)}: linear-gradient(to right, var(--c-main), var(--c-main));
		// #{gradient-var(main, h)}: linear-gradient(to right, var(--c-main), var(--c-main));
		// #{gradient-var(sub, h)}: linear-gradient(to right, var(--c-sub), var(--c-sub));

		// #{gradient-var(brand, v)}: linear-gradient(to bottom, var(--c-brand), var(--c-brand));
		// #{gradient-var(main, v)}: linear-gradient(to bottom, var(--c-main), var(--c-main));
		// #{gradient-var(sub, v)}: linear-gradient(to bottom, var(--c-sub), var(--c-sub));

		// #{gradient-var(brand, hr)}: linear-gradient(to left, var(--c-brand), var(--c-brand));
		// #{gradient-var(main, hr)}: linear-gradient(to left, var(--c-main), var(--c-main));
		// #{gradient-var(sub, hr)}: linear-gradient(to left, var(--c-sub), var(--c-sub));

		// #{gradient-var(brand, vr)}: linear-gradient(to top, var(--c-brand), var(--c-brand));
		// #{gradient-var(main, vr)}: linear-gradient(to top, var(--c-main), var(--c-main));
		// #{gradient-var(sub, vr)}: linear-gradient(to top, var(--c-sub), var(--c-sub));
}

[data-font="M"]{
	--font-size: 16px;
}
[data-font="L"]{
	--font-size: 18px;
}
[data-font="XL"]{
	--font-size: 20px;
}