// @use 'sass:math';
@use '../abstracts/mixins' as *;

#content {
	section{
		&.chyron{
			overflow: hidden;
			div.row{
				display: grid;
				grid-template-rows: repeat(2, auto); // 兩行排版
				grid-auto-flow: column; // 元素按列流動
				overflow-x: scroll;
				overflow-y: hidden;
				animation: none;
				scroll-snap-type: x mandatory;
				margin: 0 .5rem;
				@include SM{
					margin: 0;
					width: max-content;
					display: flex;
					flex-wrap: nowrap;
					position: relative;
					overflow-x: visible;
					animation: tickerTape 20s linear infinite;
					&:hover{
						animation-play-state: paused;
					}
					.chyron-item {
						padding: calc(var(--bs-gutter-x) * .5);
					}
				}
			}
			.chyron-item {
				width: 10rem;
				min-width: 12vw;
				aspect-ratio: 1 / 1;
				padding: calc(var(--bs-gutter-x) * .25);
				scroll-snap-align: start;
				.card{
					background-color: var(--c-white);
					display: flex;
					text-align: center;
					justify-content: center;
					align-items: center;
					text-decoration: none;
					border-radius: 1rem;
					box-shadow: 0 0 .5rem var(--c-g3);
					.card-body{
						order: 2;
						padding: 0;
						margin: 0;
						flex: 0 0 auto;
						color: var(--c-index-black);
					}
					.card-cover{
						order: 1;
						font-size: 4rem;
						i{
							color: var(--c-index-brand) !important;
						}
					}
					&:hover{
						background-color: var(--c-index-highlight);
						scale: 1.05;
					}
				}
				.card-text{
					display: none;
				}
			}
		}
	}
}


@keyframes tickerTape {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}