// @use 'sass:math';
@use "../globals/mixins" as *;

.section-title {
	position: relative;
	color: var(--c-main);
	&::after {
		position: relative;
		display: block;
		content: "";
		height: 6rem;
		width: 6px;
		top: 0.5ch;
		left: 0.5ch;
		background-color: var(--c-primary);
	}
}

#footer {
	min-hight: 100%;
	height: 25vh;
	margin-top: 5rem;
	background-color: var(--c-main);
	background-image: url(../images/footer.webp);
	background-position: top center;
	background-size: cover;
	color: var(--c-white);
	padding: 3rem;
	display: block;
	text-align: center;
	align-content: flex-end;
	#footerInfo {
		display: block;
	}
	a{
		color: var(--c-white);
		&:hover,&:focus{
			color: var(--c-highlight);
		}
	}

	@include MD {
		display: flex;
		align-items: center;
		#footerInfo {
			flex: 1;
			align-items: center;
			justify-content: end;
			text-align: right;
			display: flex;
		}
		#copyright {
			&::before {
				content: "|";
				display: inline-block;
				padding: 0 1ch 0 0.5ch;
				opacity: 0.5;
			}
		}
	}
}

.switch-font-size,
.switch-theme-toggle {
	button {
		padding: 2px 6px;
		font-size: 20px;
		border: 2px solid var(--c-glay);
		color: var(--c-front);
		background-color: var(--c-white);
		&.active {
			border: 2px solid var(--c-highlight);
			background-color: var(--c-white);
		}
		&:focus {
			background-color: var(--c-white);
		}
	}
}
#switch-font-size-M {
	font-size: 16px;
}
#switch-font-size-L {
	font-size: 18px;
}
#switch-font-size-XL {
	font-size: 20px;
}
#switch-theme-light {
	background-color: var(--c-white);
	color: var(--c-dark);
}
#switch-theme-dark {
	background-color: var(--c-black);
	color: var(--c-lite);
}
#switch-theme-light-b {
	background-color: #fe9;
}
#switch-theme-dark-b {
	background-color: #303;
	color: var(--c-lite);
}

#navbar-sub {
	display: none;
	label {
		padding: 0 0.5ch;
	}
	@include LG {
		display: block;
	}
}
#navbar-main {
	border-radius: 1rem;
	box-shadow: 0 0 2rem var(--c-shadow);
	z-index: 2;
	a {
		height: 3.5rem;
		color: var(--c-black);
		padding: 0.5ch 1ch;
		align-content: center;
		&:hover,
		&:focus,
		&.active {
			background-color: var(--c-highlight);
		}
	}
	.dropdown-menu {
		background-color: var(--c-white);
		border-radius: 1rem;
		border: 2px solid var(--c-highlight);
	}
}

// 自訂卡片寬度類別
article {
	&[class^="card-"] {
		.card {
			width: 100%;
			text-decoration: none !important;
			border-radius: 2rem;
			margin-bottom: 0;
			overflow: hidden;
			border: var(--c-dark) solid 1px;
			background-color: var(--c-white);
			transition: scale 0.3s ease-in-out;
			&:hover,
			&:focus {
				scale: 1.03;
			}
		}
		.card-body {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			z-index: 1;
			a{
				margin: 1ch;
			}
			@include MD {
				.card {
					padding: 1.5rem 1.5rem 1.5rem 1.5rem;
				}
			}
		}
		.card-title {
			position: relative;
			font-size: 1.6rem;
			padding-right: 2.5rem;
			&::after {
				content: "\f0a9"; /* 假設使用 Font Awesome 的右箭頭 */
				font-weight: 900;
				font-family: "Font Awesome 6 Free"; /* 根據你的圖標庫調整 */
				position: absolute;
				right: 0.1ch;
				top: 50%;
				transform: translateY(-50%);
				font-size: 2rem;
				z-index: 2;
				@include MD {
					font-size: 2.2rem;
				}
			}
			label {
				max-height: 3.8rem;
				overflow: hidden;
				span{
					&::before{
						content: '\f0da';
						@include fa-icon;
						opacity: .8;
					}
				}
			}
		}
		.card-cover {
			width: 100%;
			height: 100%;
			z-index: 0;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
			i {
				position: absolute;
				right: 1rem;
				bottom: 1rem;
				font-size: 3rem;
				@include MD {
					bottom: 1.5rem;
					right: 2rem;
					font-size: 4rem;
				}
			}
		}
	}
}

.card-style-brand {
	.card {
		background-color: var(--c-brand) !important;
		border-color: var(--c-brand) !important;
		color: var(--c-white);
	}
}

.card-style-main {
	.card {
		background-color: var(--c-main) !important;
		border-color: var(--c-main) !important;
		color: var(--c-white);
	}
}

.card-wide {
	flex: 0 0 100%; // 全寬
	max-width: 100%;
	.card {
		aspect-ratio: 1 /1;
	}
	@include MD {
		.card {
			aspect-ratio: 2 /1;
		}
	}
}

.card-half {
	flex: 0 0 100%; // 二分之一寬
	max-width: 100%;
	.card {
		aspect-ratio: 2 / 1;
	}
	&.card-theme-split {
		.card {
			flex-direction: row;
			.card-body {
				flex: 0 0 50%;
				max-width: 50%;
				padding: 1.5rem 0.5rem 1.5rem 1.5rem;
			}
			.card-cover {
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
	&.card-theme-cover {
		.card {
			.card-cover {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	@include MD {
		flex: 0 0 50%; // 二分之一寬
		max-width: 50%;
		.card {
			aspect-ratio: 2 / 1;
		}
	}
}

.card-third {
	flex: 0 0 50%; // 三分之一寬
	max-width: 50%;
	.card {
		aspect-ratio: 1 / 1;
	}
	@include MD {
		flex: 0 0 calc(100% / 3); // 三分之一寬
		max-width: calc(100% / 3);
		.card {
			aspect-ratio: 4 / 3;
		}
	}
}

.card-quarter {
	flex: 0 0 50%; // 四分之一寬
	max-width: 50%;
	.card {
		aspect-ratio: 1 / 1;
	}
	.card-cover {
		i {
			@include MD {
				right: auto;
				left: 2rem;
			}
		}
	}
	@include MD {
		flex: 0 0 25%; // 四分之一寬
		max-width: 25%;
	}
}

.card-theme-slider {
	&:is(.card-third,.card-quarter) {
		flex: 0 0 100%; // 四分之一寬
		max-width: 100%;
	}
	.card {
		flex-direction: column;
		aspect-ratio: 1 / 1 !important;
	}
	@include MD {
		&.card-third{
			max-width: calc(100% / 3);
		}
		&.card-quarter{
			max-width: calc(100% / 4);
		}
	}
}

.card-theme-chart-filter {
	.card {
		flex-direction: column;
		.card-chart {
			width: 100%;
			height: 100%;
			aspect-ratio: inherit;
			overflow: hidden;
			background-color: var(--c-white);
		}
		.card-body {
			max-width: 100%;
			margin-left: 0;
			@include MD {
				max-width: 50%;
				margin-left: 50%;
			}
		}
	}
	&:not(.card-wide) {
		aspect-ratio: 1 / 1 !important;
		.card-body {
			max-width: 100%;
			margin-left: 0;
		}
	}
}

.card-theme-chart {
	.card {
		flex-direction: column;
		.card-chart {
			width: 100%;
			height: 100%;
			aspect-ratio: inherit;
			overflow: hidden;
			background-color: var(--c-white);
		}
		.card-body {
			max-width: 100%;
			margin-left: 0;
			@include MD {
				max-width: 50%;
				margin-left: 50%;
			}
		}
	}
	&:not(.card-wide) {
		aspect-ratio: 1 / 1 !important;
		.card-body {
			max-width: 100%;
			margin-left: 0;
		}
	}
}

#slider-main {
	position: relative;
	width: 100%;
	aspect-ratio: 2 / 3;
	overflow: hidden;
	margin-top: 3rem;
	border-radius: 1rem;
	.slide {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: 1rem;
		.lead {
			margin-top: auto;
		}
	}
	.slide-cover {
		width: 100%;
		height: 100%;
		padding: 3rem;
		position: relative;
		.cover {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.slider-nav{
		position: absolute;
		height: 3rem;
		line-height: 3rem;
		text-align: center;
		filter: none;
		transform: none;
		color: var(--c-brand);
		opacity: 1;
		bottom: 3rem;
		padding: 0 0.5ch;
		margin: 0.5ch;
		top: auto;
		bottom: 1rem;
		left: auto;
		right: 5rem;
		font-size: 4rem;
		visibility: visible !important;
		&.slider-nav-next {
			right: 1.5rem;
		}
	}
	@include MD {
		aspect-ratio: 16 / 9;
	}
	@include LG {
		aspect-ratio: 16 / 6;
	}
}

.slider-nav {
	// visibility: visible !important;
	position: relative;
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 2rem;
	filter: none;
	transform: none;
	color: var(--c-brand);
	opacity: 1;
	padding: 0 0.5ch;
	margin: 0.5ch;
	&::before {
		content: none;
	}
	&::after {
		width: 100%;
		content: "\f0d9";
		height: 100%;
		mask: none;
		@include fa-icon;
		box-shadow: none;
		background: none;
		padding: 0 !important;
		font-size: 1em;
	}
	&.slider-nav-next {
		&::after {
			content: "\f0da";
			transform: none;
		}
	}
}

.card {
	.swiffy-slider {
		width: 100%;
		height: calc(100% - 8rem);
		.slider-container {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.slider-nav {
			position: absolute;
			top: auto;
			left: auto;
			bottom: -7.5rem;
			right: 2rem;
			color: inherit !important;
			font-size: 2rem;
			&.slider-nav-next {
				right: 0;
			}
		}
		+ .card-title {
			pointer-events: none;
			padding: 1.5rem 1.5rem 1.5rem 1.5rem;
			&::after {
				content: none !important;
			}
		}
	}
}

#captcha {
	min-height: 3rem;
}


.modal-theme-card{
	&.modal-theme-brand{
		.modal-content{
			background-color: var(--c-brand);
			color: var(--c-white);
		}
	}
	&.modal-theme-main{
		.modal-content{
			background-color: var(--c-main);
			color: var(--c-white);
		}
	}
	.modal-content{
		border: 2px solid var(--c-main);
		border-radius: 1rem;
		display: grid;
		grid-template-areas: 'slider header'
													'slider body'
													'slider footer';
		grid-template-columns: 3fr 2fr;
		grid-template-rows: 1fr 4fr 1fr;
	}
	.modal-header{
		grid-area: header;
		border-radius: 0;
		border: none;
		h5{
			font-size: 1.2rem;
			color: var(--c-white);
			&::before{
				margin-right: 1ch;
			}
		}
		.modal-dismiss{
			background: none;
			border: none;
			color: var(--c-white);
			font-size: 1.5rem;
			margin-left: auto;
			&::before{
				content: "\f00d";
				@include fa-icon;
			}
		}
	}

	.modal-body{
		grid-area: body;
		font-weight: 900;
		align-items: start;
	}
	.modal-footer{
		grid-area: footer;
		border: none;
	}

	#itemTitle{
		font-size: 1.5rem;
		margin: 0 0 1rem 0;
		&::before{
			margin-right: 1ch;
		}
	}
	#itemWhere{
		display: flex;
		justify-content: left;
		align-items: center;
		margin: 0;
		label{
			display: flex;
			height: 2rem;
			line-height: 2rem;
			background-color: var(--c-white);
			color: var(--c-black);
		}
		label:nth-child(2n-1){
			border-radius: .5rem 0 0 .5rem;
			background-color: var(--c-highlight);
			padding: 0 0 0 1ch;
		}
		label:nth-child(2n){
			border-radius: 0 .5rem .5rem 0;
			padding: 0 2ch 0 0;
			&::before{
				content: "";
				display: inline-block;
				height: 0;
				width: 0;
				border: 1rem solid var(--c-highlight);
				border-top: 1rem solid transparent;
				border-bottom: 1rem solid transparent;
				border-right: 1ch solid transparent;
			}
		}
	}

	#itemCover{
		grid-area: slider;
		width: 100%;
		height: 100%;
		.swiffy-slider{
			height: 100%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.slider-nav{
			color: var(--c-white);
			position: absolute;
			bottom: .5rem;
			right: -3rem;
			top: auto;
			left: auto;
			&.slider-nav-next{
				right: -5rem;
			}
		}
	}
}

#filterPanel{
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	z-index: 1;
	background-color: var(--c-dark);
	border-radius: 1rem;
	overflow: hidden;
	transition: all .3s ease-in-out;
	#filterPanelForm{
		order: 1;
		width: 100%;
		max-width: 50%;
		display: flex;
		flex-direction: column;
		gap: .5rem;
		color: var(--c-white);
		transition: all .3s ease-in-out;
	}
	.form-group{
		display: flex;
		flex-direction: row;
		align-items: center;
		label{
			&:is([required]){
				&::after{
					content: ' *';
					color: #F00;
				}
			}
		}
	}
}