// @use 'sass:math';
@use '../abstracts/mixins' as *;

.modal-theme-card{
	&.modal-theme-brand{
		.modal-content{
			background-color: var(--c-brand);
			color: var(--c-brand-t);
		}
	}
	&.modal-theme-main{
		.modal-content{
			background-color: var(--c-main);
			color: var(--c-brand-t);
		}
	}
	.modal-content{
		border: 2px solid var(--c-main);
		border-radius: 1rem;
		display: flex;
		@include MD{
			border: 2px solid var(--c-main);
			border-radius: 1rem;
			display: grid;
			grid-template-areas: 'slider header'
														'slider body'
														'slider footer';
			grid-template-columns: 3fr 2fr;
			grid-template-rows: 1fr 4fr 1fr;
		}
	}
	.modal-header{
		grid-area: header;
		border-radius: 0;
		border: none;
		h5{
			font-size: 1.2rem;
			color: var(--c-brand-t);
			&::before{
				margin-right: 1ch;
			}
		}
		.modal-dismiss{
			background: none;
			border: none;
			color: var(--c-brand-t);
			font-size: 1.5rem;
			margin-left: auto;
			&::before{
				content: "\f00d";
				@include fa-icon;
			}
		}
	}
	.modal-title{
		font-size: 1.5rem;
		margin: 0 0 1rem 0;
		&::before{
			margin-right: 1ch;
		}
	}
	.modal-body{
		grid-area: body;
		font-weight: bold;
		align-items: start;
	}
	.modal-footer{
		grid-area: footer;
		border: none;
	}

	.extra-mini-map{
		border-radius: 1rem;
		overflow: hidden;
		&::before{
			content: "地圖位置";
			display: block;
			width: 100%;
			padding: .5ch 1rem;
			background-color: var(--c-main);
			color: var(--c-main-t);
			position: relative;
		}
		img, svg, iframe, canvas, video, embed, object, applet{
			width: 100%;
			height: 100%;
			aspect-ratio: 16/10;
		}
	}


	.extra-gallery{
		grid-area: slider;
		width: 100%;
		height: 100%;
		.swiffy-slider{
			height: 100%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.slider-nav{
			color: var(--c-brand-t);
			background-color: var(--c-brand);
			position: absolute;
			bottom: calc(50% - 1rem);
			right: auto;
			top: auto;
			border-radius: 99rem;
			left: 1rem;
			opacity: .8;
			&.slider-nav-next{
				left: auto;
				right: 1rem;
			}
		}
		@include MD{
			.slider-nav{
				background-color: transparent;
				color: var(--c-brand-t);
				position: absolute;
				bottom: .5rem;
				right: -3rem;
				top: auto;
				left: auto;
				opacity: 1;
				&.slider-nav-next{
					right: -5rem;
				}
			}
		}
		&:empty {
			background-image: url(/assets/images/demo_nopic.webp);
			background-size: cover;
			background-position: left bottom;
		}
	}
}