// @use 'sass:math';
@use '../abstracts/mixins' as *;

.modal-theme-card{
	&.modal-theme-brand{
		.modal-header{
			background-color: var(--c-brand);
			color: var(--c-brand-t);
		}
	}
	&.modal-theme-main{
		.modal-content{
			background-color: var(--c-white);
			color: var(--c-black);
		}
	}
	.modal-content{
		border-radius: 1rem;
		display: flex;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: var(--c-white);
		color: var(--c-black);
		@include MD{
			border: 2px solid var(--c-main);
			border-radius: 1rem;
			// display: grid;
			grid-template-areas: 'header header'
														'slider slider'
														'body body'
														'footer footer';
			grid-template-columns: 60% 40%;
			&:has(.extra-gallery:empty){
				grid-template-areas: 'header header'
															'map map'
															'body body'
															'body body'
															'footer footer';
			}
		}
	}

	.modal-header{
		position: sticky;
		top: 0;
		z-index: 2;
		grid-area: header;
		border-radius: 0;
		border: none;
		padding: .5ch 1rem;
		.modal-dismiss{
			background: none;
			border: none;
			color: var(--c-brand-t);
			font-size: 1.5rem;
			margin-left: auto;
			&::before{
				content: "\f00d";
				@include fa-icon;
			}
		}
	}
	.modal-body{
		grid-area: body;
		align-items: start;
	}
	.modal-footer{
		grid-area: footer;
		border: none;
		padding: 0.5ch;
	}

	.modal-title{
		font-size: 1.25rem;
		font-weight: bold;
		&::before{
			margin-right: .5ch;
		}
	}

	.extra-mini-map{
		// position: sticky;
		// top: calc(2.5rem + 1ch);
		z-index: 1;
		grid-area: map;
		overflow: hidden;
		border-bottom: 1px solid var(--c-main);
		img, svg, iframe, canvas, video, embed, object, applet{
			width: 100%;
			height: 100%;
			aspect-ratio: 16/8;
		}
	}

	.extra-gallery{
		grid-area: slider;
		margin: 1rem;
		border-radius: .5rem;
		@include shadow;
		.swiffy-slider{
			height: 100%;
			aspect-ratio: 16/9;
		}
		.slider-nav{
			color: var(--c-brand-t) !important;
			background-color: var(--c-brand);
			position: absolute;
			bottom: 50%;
			right: auto;
			top: auto;
			border-radius: 99rem;
			left: 1rem;
			opacity: .8;
			&.slider-nav-next{
				left: auto;
				right: 1rem;
			}
		}
		&:empty {
			// background-image: url(/assets/images/demo_nopic.webp);
			// background-size: cover;
			// background-position: left bottom;
			display: none;
		}
	}
}