// @use 'sass:math';
@use '../abstracts/mixins' as *;

.gispopup{
	position: absolute;
	width: 19rem;
	max-width: 100%;
	background-color: var(--c-white);
	color: var(--c-black);
	padding: 0;
	border-radius: 2rem;
	box-shadow: 0 0 1rem var(--c-shadow);
	overflow: hidden;
	z-index: 1;
	&:not(.active){
		display: none;
		pointer-events: none;
	}
	&.modal-content{
		border-radius: 1rem;
		grid-template-columns: 3fr 2fr;
		grid-template-rows: 1fr 4fr 1fr;
	}
	.modal-header{
		grid-area: header;
		border: none;
		background-color: var(--c-brand);
		padding: .5ch 1ch;
		h5{
			font-size: 1.2rem;
		}
		.modal-dismiss{
			background: none;
			border: none;
			font-size: 1.5rem;
			margin-left: auto;
			color: var(--c-brand-t);
			&::before{
				content: "\f00d";
				@include fa-icon;
			}
		}
	}

	.modal-body{
		grid-area: body;
		padding: 0 1ch;
		align-items: start;
		max-height: calc(50dvh - 5rem);
		overflow-y: auto;
		transition: all .5s ease-in-out;
		h3, .h3{
			width: 100%;
			font-size: 1.1rem;
			color: var(--c-front-brand);
			margin: .5ch 0 0 0;
			padding: .5ch 0 0 0;
			&:not(:first-child){
				margin: 1ch 0 0 0;
				border-top: 1px solid var(--c-g3);
			}
		}
	}
	.modal-footer{
		grid-area: footer;
		border: none;
		padding: 0 1ch 1ch 1ch;
	}

	.item-title{
		position: sticky;
		top: 0;
		font-size: 1.5rem;
		padding: 1ch 0;
		width: 100%;
		color: var(--c-front-brand);
		&::before{
			margin-right: 3px;
		}
	}
	.extra-where{
		margin: 1ch 0;
		font-family: var(--bs-body-font-family);
		&.fa::before{
			position: relative;
			display: inline-block;
			content: var(--fa);
			@include fa-icon;
			@include obj-theme(brand,0);
			width: 2rem;
			height: 2rem;
			line-height: 2rem;
			text-align: center;
			margin-right: -.5rem;
			border-radius: 99rem;
			z-index: 1;
			scale: 1.1;
		}
	}

	.extra-gallery{
		grid-area: slider;
		width: 100%;
		height: 100%;
		padding: 0 1rem;

		color: var(--c-brand-t);
		.swiffy-slider{
			height: 100%;
			margin: 1ch 0;
			// border-radius: .5rem;
			// overflow: hidden;
			.slide{
				border-radius: .5rem;
				overflow: hidden;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.slider-nav{
			position: absolute;
			top: auto;
			bottom: calc(50% - 1.5rem);
			top: auto;
			left: -1rem;
			right: auto;
			background-color: var(--c-brand);
			color: var(--c-brand-t);
			border-radius: 99rem;
			&.slider-nav-next{
				left: auto;
				right: -1rem;
			}
		}
	}
	button.extra-where{
		border: none;
		background: none;
		padding: 0;
		font-weight: bold;
	}
}