// @use 'sass:math';
@use '../abstracts/mixins' as *;

.gispopup{
	position: absolute;
	width: 19rem;
	max-width: 100%;
	background-color: var(--c-white);
	color: var(--c-black);
	padding: 0;
	border-radius: 2rem;
	// translate: -2rem 6rem;
	@include shadow;
	overflow: hidden;
	z-index: 2;
	&:not(.active){
		display: none;
		pointer-events: none;
	}
	&.modal-content{
		border-radius: 1rem;
		grid-template-columns: 3fr 2fr;
		grid-template-rows: 1fr 4fr 1fr;
	}
	.modal-header{
		grid-area: header;
		border: none;
		background-color: var(--c-brand);
		padding: 0 1ch;
		height: 3rem;
		&::before{
			pointer-events: none;
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 4rem;
			background-color: var(--c-main);
			mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 400 100" viewBox="0 0 400 100"><path d="M167.1 0c10.4 5.7 22.5 10.4 39.4 9.5 28.2-1.4 36.2 9.4 43.4 10.1 13.5 1.2 18.7-14.8 32.2-13.9 10 .7 16.6 10.3 21.4 19 4.8 8.7 10.5 18.6 20.3 20.6 7.7 1.6 15.4-2.4 22-6.8s13.2-9.4 21-10.3c9.4-1.1 19 4.8 22.4 13.6 1.7 4.5 1.9 9.4 3 14.1 1.2 4.7 3.2 9.4 7.7 11V-.2S189.2 0 167.1 0z"/><circle cx="321.3" cy="55.1" r="3.5"/></svg>') no-repeat center;
			mask-size: auto 80%;
			opacity: .2;
			scale: 1 -1;
			mask-position: right top;
			z-index: 0;
		}
		&::after{
			pointer-events: none;
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 4rem;
			background-color: var(--c-main);
			mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 400 100" viewBox="0 0 400 100"><path d="M167.1 0c10.4 5.7 22.5 10.4 39.4 9.5 28.2-1.4 36.2 9.4 43.4 10.1 13.5 1.2 18.7-14.8 32.2-13.9 10 .7 16.6 10.3 21.4 19 4.8 8.7 10.5 18.6 20.3 20.6 7.7 1.6 15.4-2.4 22-6.8s13.2-9.4 21-10.3c9.4-1.1 19 4.8 22.4 13.6 1.7 4.5 1.9 9.4 3 14.1 1.2 4.7 3.2 9.4 7.7 11V-.2S189.2 0 167.1 0z"/><circle cx="321.3" cy="55.1" r="3.5"/></svg>') no-repeat center;
			mask-size: auto 200%;
			mask-position: right top;
			opacity: .3;
			scale: -1 1;
			z-index: 0;
		}
		* {
			z-index: 1;
		}
		h4{
			font-size: 1.2rem;
			margin: 0;
		}
		h5{
			font-size: 1.2rem;
		}
		.modal-dismiss{
			background: none;
			border: none;
			font-size: 1.5rem;
			margin-left: auto;
			color: var(--c-brand-t);
			&::before{
				content: "\f00d";
				@include fa-icon;
			}
		}
	}

	.modal-body{
		grid-area: body;
		padding: 0 1ch;
		align-items: start;
		max-height: calc(50dvh - 5rem);
		overflow-y: auto;
		transition: all .5s ease-in-out;
		aspect-ratio: 16 / 10;
		h3, .h3{
			width: 100%;
			font-size: 1.1rem;
			color: var(--c-front-brand);
			margin: .5ch 0 0 0;
			padding: .5ch 0 0 0;
			&:not(:first-child){
				margin: 1ch 0 0 0;
				border-top: 1px solid var(--c-g3);
			}
		}
		@include LG{
			height: 16rem;
			max-height: unset;
		}
	}
	.modal-footer{
		grid-area: footer;
		border: none;
		padding: 0 1ch 1ch 1ch;
	}

	.item-title{
		position: sticky;
		top: 0;
		font-size: 1.5rem;
		padding: 1ch 0;
		margin: 0 !important;
		width: 100%;
		color: var(--c-front-brand);
		background-color: var(--c-white);
		&::before{
			margin-right: 3px;
		}
	}
	.extra-where{
		margin: 1ch 0;
		font-family: var(--bs-body-font-family);
		&[class^="fa"]::before{
			position: relative;
			display: inline-block;
			content: var(--fa);
			@include fa-icon;
			@include obj-theme(brand,0);
			width: 2rem;
			height: 2rem;
			line-height: 2rem;
			text-align: center;
			margin-right: -.5rem;
			border-radius: 99rem;
			z-index: 1;
			scale: 1.1;
		}
	}

	.extra-gallery{
		grid-area: slider;
		width: 100%;
		height: 100%;
		padding: 0 1rem 1rem 1rem;
		color: var(--c-brand-t);
		aspect-ratio: 16 / 10;
		.swiffy-slider{
			height: 100%;
			margin: 1ch 0;
			.slide{
				border-radius: .5rem;
				overflow: hidden;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.slider-nav{
			position: absolute;
			top: auto;
			bottom: calc(50% - 1.5rem);
			top: auto;
			left: -1rem;
			right: auto;
			background-color: var(--c-brand);
			color: var(--c-brand-t);
			border-radius: 99rem;
			&.slider-nav-next{
				left: auto;
				right: -1rem;
			}
		}
	}
	button.extra-where{
		border: none;
		background: none;
		padding: 0;
		font-weight: bold;
	}
}