// @use 'sass:math';
@use '../abstracts/mixins' as *;

.result-cover{
	position: relative;
	order: 1;
	justify-self: start;
	height: auto;
	max-height: 100%;
	align-self: stretch;
	opacity: 1;
	margin-bottom: 2rem;
	.swiffy-slider {
		width: 100%;
		height: 100%;
		aspect-ratio: 16 / 10;
		overflow: hidden;
		border-radius: .5rem;
		@include shadow;
	}
	.slider-nav{
		bottom: calc(50% - 1.5rem);
		right: auto;
		left: -.25rem;
		color: var(--c-brand-t) !important;
		background-color: var(--c-brand);
		border-radius: 99rem;
	}
	.slider-nav-next{
		left: auto;
		right: -.25rem;
	}
}
.result-all-item{
	background-color: var(--c-g1);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 2rem;
	border-radius: 1rem;
	@include shadow;
	overflow: hidden;
	.result-left{
		order: 1;
	}
	.result-right{
		order: 3;
	}
	.items{
		order: 2;
	}
	h2{
		flex: 1 0 100%;
		font-size: 1.5rem;
		padding: 1rem .5rem;
		margin: 0;
		background-color: var(--c-main);
		@include gradient-bg(brand, v);
		color: var(--c-main-t);
		text-align: center;
		&::before{
			content: var(--fa);
			margin-right: 3px;
			@include fa-icon;
		}
	}
	.btn-takeme{
		position: absolute;
		bottom: -.5rem;
		right: -.5rem;
	}
	.result-info{
		margin: 1rem;
		p.fa{
			font-family: var(--bs-body-font-family);
			display: block;
			&::before{
				margin-left: 0;
				margin-right: 3px;
				color: var(--c-main);
				@include fa-icon;
			}
		}
	}
	.items{
		background-color: transparent;
		@include gradient-bg(brand, vr);
		border-top: 1px dotted var(--c-main);
		border-bottom: 1px dotted var(--c-main);
		.fa{
			background-color: var(--c-brand);
			color: var(--c-brand-t);
		}
	}
	.levels{
		padding: 0 1rem;
		.items{
			background: none;
			border: none 0px transparent;
			.fa{
				background-color: transparent;
				color: var(--c-front);
			}
		}
	}

	@include MD{
		flex-direction: row;
		.result-left{
			flex: 1;
			order: 2;
			max-width: 39rem;
			padding: 1rem;
		}
		.result-right{
			flex: 1;
			order: 3;
			padding: 1rem;
		}
		.items{
			border-top: 0 none transparent;
			border-bottom: 0 none transparent;
			background-color: var(--c-main);
			order: 1;
		}
		h2{
			padding: 1rem .5rem .5rem .5rem;
		}
		.result-info{
			margin: 1rem;
			p.fa{
				font-family: var(--bs-body-font-family);
				font-weight: normal;
				display: block;
				&::before{
					margin-left: 0;
					margin-right: 3px;
					color: var(--c-main);
					@include fa-icon;
				}
			}
		}
		.levels{
			margin: 0;
		}
	}
}
.items{
	flex: 1 1 100%;
	background-color: var(--c-main);
	text-align: center;
	.fa{
		background-color: transparent;
		border: solid 1px transparent;
		border-radius: 99rem;
		padding: 0 1ch;
		height: 2.5rem;
		line-height: 2.25rem;
		margin: 1ch .3ch;
		font-weight: normal;
		text-align: left;
		transition: all .2s ease-in-out;
		white-space: nowrap;
		cursor: pointer;
		&::before{
			@include fa-icon;
		}
		&:hover{
			background-color: var(--c-highlight) !important;
			color: var(--c-highlight-t) !important;
			border: solid 1px var(--c-highlight);
		}
		&:has(span){
			position: relative;
			background-color: var(--c-g1);
			border: solid 1px var(--c-brand);
			span{
				position: absolute;
				right: -.5rem;
				top: -.5rem;
				border-radius: 99rem;
				font-family: var(--bs-body-font-family);
				width: 1.5rem;
				height: 1.5rem;
				line-height: 1.5rem;
				font-size: .9rem;
				text-align: center;
				background-color: var(--c-sub);
				color: var(--c-sub-t);
				&:empty{
					display: none;
				}
			}
			&:hover{
				background-color: var(--c-highlight);
				color: var(--c-highlight-t);
				border-color: var(--c-front-brand);
			}
			&.active{
				background-color: var(--c-hover);
				border-color: transparent;
				color: var(--c-front-brand);
				box-shadow: inset 2px 2px 4px 0 var(--c-shadow);
				span{
					background-color: var(--c-back-sub);
					color: var(--c-front-brand);
					scale: 0.8;
				}
				&::before{
					color: var(--c-brand);
				}
			}
		}
	}
	.dropdown-menu{
		border-radius: 1rem;
	}
}
.levels{
	.items{
		display: flex;
		flex-wrap: wrap;

		background-color: transparent;
		@include MD{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
		}
	}
	.level{
		position: relative;
		padding: 0 .0 1rem 1.5rem;
		&::before{
			position: absolute;
			top: 0;
			left: .75rem;
			content: '';
			display: block;
			border-radius: 99rem;
			width: 3px;
			height: 100%;
			background-color: var(--c-main);
		}
		&::after{
			position: absolute;
			top: 0;
			left: .27rem;
			content: '';
			display: block;
			border-radius: 99rem;
			width: 1.2rem;
			height: 1.2rem;
			background-color: var(--c-main);
			border: 2px solid var(--c-white);
			box-shadow: 0 0 0 3px var(--c-brand);
		}
		&:hover{
			.items{
				.fa{
					border-color: var(--c-hover);
				}
			}
			&::after{
				background-color: var(--c-highlight);
				border-color: var(--c-front-brand);
				scale: 1.2;
			}
			&::before{
				scale: 2 1;
				background-color: var(--c-highlight);
			}
		}
		@include MD{
			padding: 0 .5ch 1rem 2.5rem;
			&::before{
				left: 2rem;
			}
			&::after{
				left: 1.5rem;
			}
		}
	}
	h3{
		position: relative;
		font-size: 1.2rem;
		padding: 0 1rem 3rem 0;
		margin: 1.5rem 0 0 0;
		&::before{
			position: absolute;
			top: 2rem;
			left: .75rem;
			content: '';
			display: block;
			border-radius: 99rem;
			width: 3px;
			height: 100%;
			background-color: var(--c-main);
		}
		@include MD{

			&::before{
				left: 2rem;
			}
		}
	}
	h4{
		font-size: 1.1rem;
		padding: 0 1.5rem;
		letter-spacing: 1px;
		&.extra-where{
			translate: 0 -.5ch;
		}
	}
}

#resultPanel + {
	#resultPanelToggle{
		display: none;
		&::before{
			content: 'none';
		}
	}
}
#resultPanel.active + {
	#resultPanelToggle{
		&::before{
			content: none;
		}
	}
}

@include MD{
	#resultPanel + {
		#resultPanelToggle{
			position: fixed;
			background-color: var(--c-back-sub);
			display: block;
			border: none;
			top: 6rem;
			right: 1rem;
			font-size: 2rem;
			z-index: 3;
			opacity: .6;
			&::before{
				content: '\f0c9';
			}
		}
	}
	#resultPanel.active + {
		#resultPanelToggle{
			&::before{
				content: '\f00d';
			}
		}
	}
}