// @use 'sass:math';
@use '../abstracts/mixins' as *;

.result-cover{
	position: relative;
	order: 1;
	justify-self: start;
	width: 100%;
	height: auto;
	max-height: 100%;
	aspect-ratio: 16 / 10;
	align-self: stretch;
	opacity: 1;
	margin-bottom: 2rem;
	background-image: url(../images/demo_noimage.webp);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: visible;
	color: var(--c-brand-t);
	.swiffy-slider {
		width: 100%;
		height: 100%;
		aspect-ratio: 16 / 10;
		border-radius: .5rem;
		@include shadow;
		.slide{
			aspect-ratio: 16 / 10;
			overflow: hidden;
		}
	}
	.slider-nav{
		bottom: calc(50% - 1.5rem) !important;
		right: auto !important;
		left: -.25rem !important;
		background-color: var(--c-brand) !important;
		color: var(--c-brand-t) !important;
		border-radius: 99rem;
	}
	.slider-nav-next{
		left: auto !important;
		right: -.25rem !important;
	}
}
.result-all-item{
	position: relative;
	background-color: var(--c-main);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 2rem;
	border-radius: 1rem;
	@include shadow;
	break-inside: avoid; //處理多欄式排版的元素
	&::after{
		pointer-events: none;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 8rem;
		border-radius: 1rem;
		background-color: var(--c-highlight);
		mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 725.4 480.8" viewBox="0 0 725.4 480.8"><path d="M725.4 0c-43.9 98.3-104.1 190.2-181.6 265.2-63.2 61.7-137.6 111.6-218.2 147.3-102.4 45-213.9 68.9-325.6 68.3v-62c8.2-.5 16.3-1.2 24.5-1.9 115-11.6 228.1-49.9 324.6-113.6 58.9-38.8 111.2-87.5 154.6-142.9 3-3.9 9.4-12.4 12.3-16.3 7.4-10.2 16.3-23.1 23.2-33.6 17.1-26.6 33-54.7 46.5-83.3 4.3-9 8.5-18.1 12.5-27.2h127.2z"/></svg>') no-repeat center;
		mask-size: auto 80%;
		mask-position: left top;
		opacity: .4;
		z-index: 0;
	}
	&::before{
		pointer-events: none;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 12rem;
		border-radius: 1rem;
		background-color: var(--c-brand);
		mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 400 100" viewBox="0 0 400 100"><path d="M167.1 0c10.4 5.7 22.5 10.4 39.4 9.5 28.2-1.4 36.2 9.4 43.4 10.1 13.5 1.2 18.7-14.8 32.2-13.9 10 .7 16.6 10.3 21.4 19 4.8 8.7 10.5 18.6 20.3 20.6 7.7 1.6 15.4-2.4 22-6.8s13.2-9.4 21-10.3c9.4-1.1 19 4.8 22.4 13.6 1.7 4.5 1.9 9.4 3 14.1 1.2 4.7 3.2 9.4 7.7 11V-.2S189.2 0 167.1 0z"/><circle cx="321.3" cy="55.1" r="3.5"/></svg>') no-repeat center;
		mask-size: auto 100%;
		mask-position: right top;
		opacity: .3;
		z-index: 0;
	}
	.result-left{
		background-color: var(--c-back-sub);
		order: 1;
		border-radius: 0 0 0 1rem;
	}
	.result-right{
		order: 3;
		background-color: var(--c-back-sub);
		border-radius: 0 0 1rem 0;
	}
	.items{
		order: 2;
		background-color: transparent;
		padding-bottom: .5ch;
		[class^="fa"]{
			background-color: var(--c-highlight);
			color: var(--c-highlight-t);
		}
	}
	> div{
		position: relative;
		width: 100%;
		overflow: visible;
	}
	h2{
		width: 100%;
		font-size: 1.5rem;
		padding: 1rem .5rem;
		margin: 0;
		letter-spacing: 1px;
		color: var(--c-main-t);
		text-align: center;
		z-index: 1;
		&::before{
			content: var(--fa);
			margin-right: 3px;
			@include fa-icon;
		}
	}
	.btn-takeme{
		position: absolute;
		bottom: -.5rem;
		right: -.5rem;
	}
	.result-info{
		margin: 1rem;
		p[class^="fa"]{
			font-family: var(--bs-body-font-family);
			font-weight: normal;
			display: block;
			&::before{
				margin-left: 0;
				margin-right: 3px;
				color: var(--c-hover);
				@include fa-icon;
			}
		}
	}
	.levels{
		padding: 0 1rem;
		.items{
			background-image: none;
			[class^="fa"]{
				background-color: transparent;
				color: var(--c-front);
				&.hidden{
					display: none;
					visibility: hidden;
					pointer-events: none;
				}
			}
		}
	}

	@include MD{
		flex-direction: row;
		.result-left{
			flex: 1;
			order: 2;
			max-width: 39rem;
			padding: 1rem;
		}
		.result-right{
			flex: 1;
			order: 3;
			padding: 1rem;
		}
		.items{
			border-top: 0 none transparent;
			border-bottom: 0 none transparent;
			order: 1;
		}
		h2{
			width: 100%;
			padding: 1rem .5rem .5rem .5rem;
			a{
				float: none !important;
				position: absolute;
				right: 1rem;
			}
		}
		.levels{
			margin: 0;
		}
	}
}
.items{
	flex: 1 1 100%;
	background-color: var(--c-main);
	text-align: center;
	border: none 0px transparent;
	[class^="fa"]{
		background-color: transparent;
		border: solid 1px transparent;
		border-radius: 99rem;
		padding: 0 1ch;
		height: 2.5rem;
		line-height: 2.25rem;
		margin: .25ch auto .25ch .8ch;
		font-weight: normal;
		text-align: left;
		transition: all .2s ease-in-out;
		white-space: nowrap;
		cursor: pointer;
		input{
			display: none;
		}
		&::before{
			display: inline-block;
			@include fa-icon;
		}
		&:hover{
			background-color: var(--c-hover) !important;
			color: var(--c-hover-t) !important;
			border: solid 1px var(--c-hover-t);
			&::before{
				animation: shake 0.5s;
			}
		}
		&:has(span){
			position: relative;
			background-color: var(--c-g1);
			span{
				position: absolute;
				right: -.5rem;
				top: -.5rem;
				border-radius: 99rem;
				font-family: var(--bs-body-font-family);
				width: 1.5rem;
				height: 1.5rem;
				line-height: 1.5rem;
				font-size: .9rem;
				text-align: center;
				background-color: var(--c-back);
				color: var(--c-front);
				font-weight: bold;
				&:empty{
					display: none;
				}
			}
			&:hover{
				background-color: var(--c-highlight);
				color: var(--c-highlight-t);
				border-color: var(--c-front-brand);
			}
			&:has(:checked),&:has([checked]){
				background-color: var(--c-hover);
				border-color: transparent;
				color: var(--c-white);
				box-shadow: inset 2px 2px 4px 0 var(--c-shadow);
				span{
					background-color: var(--c-back-sub);
					color: var(--c-front-brand);
					scale: 0.8;
					box-shadow: 0 0 2px 0 var(--c-shadow);
				}
				&::before{
					color: var(--c-highlight);
				}
			}
			&.active{
				background-color: var(--c-hover);
				border-color: transparent;
				color: var(--c-white);
				box-shadow: inset 2px 2px 4px 0 var(--c-shadow);
				span{
					background-color: var(--c-back-sub);
					color: var(--c-front-brand);
					scale: 0.8;
					box-shadow: 0 0 2px 0 var(--c-shadow);
				}
				&::before{
					color: var(--c-highlight);
				}
			}
		}
	}
	.dropdown-menu{
		border-radius: 1rem;
		padding: 1rem 1.5rem 1rem 1rem;
	}
}

.levels{
	.items{
		display: flex;
		flex-wrap: wrap;
		padding: 0 1rem;
		background-color: transparent;
		@include MD{
			display: grid;
			margin: 0 1rem;
			grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
		}
	}
	.level{
		position: relative;
		padding: 0 .0 1rem 1.5rem;
		&::before{
			position: absolute;
			top: 0;
			left: .75rem;
			content: '';
			display: block;
			border-radius: 99rem;
			width: 3px;
			height: 100%;
			background-color: var(--c-sub);
		}
		&::after{
			position: absolute;
			top: 0;
			left: .27rem;
			content: '';
			display: block;
			border-radius: 99rem;
			width: 1.2rem;
			height: 1.2rem;
			background-color: var(--c-brand);
			border: 2px solid var(--c-back-sub);
			box-shadow: 0 0 0 3px var(--c-back-sub);
		}
		&:hover{
			.items{
				border-radius: .5rem;
				background-color: var(--c-back);
				[class^="fa"]{
					border-color: var(--c-hover);
				}
			}
			&::after{
				background-color: var(--c-brand);
				border-color: var(--c-back-sub);
				box-shadow: 0 0 0 3px var(--c-highlight);
				scale: 1.2;
			}
			&::before{
				scale: 2 1;
				background-color: var(--c-highlight);
			}
		}
		&:has(.items:empty){
			filter: grayscale(80%);
			.extra-where{
				background-color: var(--c-back);
				label{
					opacity: .6;
				}
				&::after{
					position: absolute;
					right: 1rem;
					content: '本區域無相關設施';
					font-weight: normal;
					font-size: 1rem;
				}
				&:has(label:empty){
					&::after{
						margin-left: 5rem;
					}
				}
			}
		}
		&:not(:has(button)){
			filter: grayscale(80%);
			.extra-where{
				background-color: var(--c-back);
				label{
					opacity: .6;
				}
				&::after{
					position: absolute;
					right: 1rem;
					content: '無相關設施';
					font-weight: normal;
					font-size: 1rem;
					opacity: .8;
				}
				&:has(label:empty){
					&::after{
						margin-left: 4rem;
					}
				}
			}
		}
		@include MD{
			padding: 0 .5ch 1rem 2.5rem;
			&::before{
				left: 2rem;
			}
			&::after{
				left: 1.5rem;
			}
		}
	}
	h3{
		position: relative;
		font-size: 1.2rem;
		padding: 0 1rem 3rem 0;
		margin: 1.5rem 0 0 0;
		&::before{
			position: absolute;
			top: 2rem;
			left: .75rem;
			content: '';
			display: block;
			border-radius: 99rem;
			width: 3px;
			height: 100%;
			background-color: var(--c-sub);
		}
		@include MD{

			&::before{
				left: 2rem;
			}
		}
	}
	h4{
		font-size: 1.1rem;
		padding: 0 1.5rem;
		letter-spacing: 1px;
		&.extra-where{
			translate: 0 -.5ch;
		}
	}
}

#resultPanel + {
	#resultPanelToggle{
		display: none;
		&::before{
			content: 'none';
		}
	}
}
#resultPanel.active + {
	#resultPanelToggle{
		&::before{
			content: none;
		}
	}
}

@include MD{
	#resultPanel + {
		#resultPanelToggle{
			position: fixed;
			background-color: var(--c-back-sub);
			display: block;
			border: none;
			top: 6rem;
			right: 1rem;
			font-size: 2rem;
			z-index: 3;
			opacity: .6;
			&::before{
				content: '\f0c9';
			}
		}
	}
	#resultPanel.active + {
		#resultPanelToggle{
			&::before{
				content: '\f00d';
			}
		}
	}
}

#noResult{
	padding: 2rem 1rem;
	width: 100%;
	text-align: center;
	color: var(--c-front);
	&::before{
		content: '';
		display: block;
		width: 80%;
		min-width: 10rem;
		height: auto;
		margin: 0 auto;
		aspect-ratio: 3 / 2;
		background-image: url(../images/demo_noresult.webp);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		opacity: .7;
	}
}

#resultPanelBtn{
	position: sticky;
	top: 0;
	left: 0;
	display: block;
	text-align: center;
	max-height: unset;
	width: 100%;
	padding: .5rem 0;
	background-color: var(--c-back);
	color: var(--c-front);
	border-top: solid 1px var(--c-white);
	border-bottom: solid 1px var(--c-white);
	box-shadow: inset 0 0 1px 0 rgba($color: #000000, $alpha: 0.3);
	letter-spacing: 2px;
	z-index: 3;
	cursor: pointer;
	&::before{
		content: '';
		display: block;
		width: 4rem;
		height: 4px;
		margin: 3px auto 6px auto;
		background-color: var(--c-hover);
		border-radius: 99rem;
		opacity: .5;
	}
}