// @use 'sass:math';
@use '../abstracts/mixins' as *;

.swiffy-slider {
	width: 100%;
	height: calc(100% - 8rem);
	.slider-container {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.slider-nav {
		position: absolute;
		top: auto;
		left: auto;
		bottom: -7.5rem;
		right: 2rem;
		color: inherit !important;
		font-size: 2rem;
		&.slider-nav-next {
			right: 0;
		}
	}
	+ .card-title {
		pointer-events: none;
		padding: 1.5rem 1.5rem 1.5rem 1.5rem;
		&::after {
			content: none !important;
		}
	}
}
.slider-nav {
	// visibility: visible !important;
	position: relative;
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 2rem;
	filter: none;
	transform: none;
	color: var(--c-brand);
	opacity: 1;
	padding: 0 0.5ch;
	margin: 0.5ch;
	&::before {
		content: none;
	}
	&::after {
		width: 100%;
		content: "\f0d9";
		height: 100%;
		mask: none;
		@include fa-icon;
		box-shadow: none;
		background: none;
		padding: 0 !important;
		font-size: 1em;
	}
	&.slider-nav-next {
		&::after {
			content: "\f0da";
			transform: none;
		}
	}
}