// @use 'sass:math';
@use '../abstracts/mixins' as *;

.swiffy-slider {
	width: 100%;
	height: calc(100% - 8rem);
	.slider-container {
		figure{
			margin: 0;
		}
		img, iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		figcaption{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: .5ch 1ch;
			background-color: rgba($color: #000000, $alpha: 0.77);
			color: var(--c-white);
			&:empty {
				display: none;
			}
		}
	}
	.slider-nav {
		position: absolute;
		top: auto;
		left: auto;
		bottom: -7.5rem;
		right: 2rem;
		color: inherit !important;
		font-size: 2rem;
		&.slider-nav-next {
			right: 0;
		}
	}
	+ .card-title {
		pointer-events: none;
		padding: 1.5rem 1.5rem 1.5rem 1.5rem;
		&::after {
			content: none !important;
		}
	}
}
.slider-nav {
	// visibility: visible !important;
	position: relative;
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 2rem;
	filter: none;
	transform: none;
	color: var(--c-brand);
	opacity: 1;
	padding: 0 0.5ch;
	&::before {
		content: none;
	}
	&::after {
		width: 100%;
		content: "\f0d9";
		height: 100%;
		mask: none;
		@include fa-icon;
		margin: 0;
		box-shadow: none;
		background: none;
		padding: 0 !important;
		font-size: 1em;
	}
	&.slider-nav-next {
		&::after {
			content: "\f0da";
			transform: none;
		}
	}
}

// 首頁形象專屬樣式
#slider-main{
	padding: 0;
	border-radius: 0;
	overflow: visible;
	.slide{
		.cover{
			position: fixed;
			top: 0;
			left: auto;
			right: -8rem;
			opacity: 0;
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: cover;
			mask-image: url(../images/curve.svg);
			mask-mode: alpha;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: left bottom;
				animation: zoom 12s ease-in-out;
				animation-play-state: paused;
			}

		}
	}
	&::before{
		content: '';
		position: absolute;
		top: 3rem;
		right: -8rem;
		width: 80%;
		height: 100%;
		background-color: var(--c-main);
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: 100%;
		mask-image: url(../images/curve.svg);
		mask-mode: alpha;
		scale: 1.15 1.1;
		animation: float 8s linear infinite;
		z-index: -1;
	}
	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		height: 60%;
		background-color: var(--c-highlight);
		mask-position: bottom right;
		mask-repeat: no-repeat;
		mask-size: cover;
		mask-image: url(../images/title.svg);
		mask-mode: alpha;
		scale: 1.15 1.1;
		z-index: -2;
	}
	.slide-visible{
		.cover{
			opacity: 1;
			img{
				animation: zoom 12s ease-in-out;
				animation-play-state: running;
			}
		}
	}
}