// @use 'sass:math';
@use '../abstracts/mixins' as *;

.swiffy-slider {
	width: 100%;
	height: calc(100% - 8rem);
	.slider-container {
		figure{
			aspect-ratio: 16 / 9;
			margin: 0;
			overflow: hidden;
		}
		img, iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		figcaption{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: .5ch 1ch;
			background-color: rgba($color: #000000, $alpha: 0.77);
			color: var(--c-white);
			&:empty {
				display: none;
			}
		}
	}
	.slider-nav {
		position: absolute;
		top: auto;
		left: auto;
		bottom: -7.5rem;
		right: 2rem;
		color: inherit !important;
		font-size: 2rem;
		&.slider-nav-next {
			right: 0;
		}
	}
	+ .card-title {
		pointer-events: none;
		padding: 1.5rem 1.5rem 1.5rem 1.5rem;
		&::after {
			content: none !important;
		}
	}
}
.slider-nav {
	// visibility: visible !important;
	position: relative;
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 2rem;
	filter: none;
	transform: none;
	color: var(--c-brand);
	opacity: 1;
	padding: 0 0.5ch;
	&::before {
		content: none;
	}
	&::after {
		width: 100%;
		content: "\f0d9";
		height: 100%;
		mask: none;
		@include fa-icon;
		margin: 0;
		box-shadow: none;
		background: none;
		padding: 0 !important;
		font-size: 1em;
	}
	&.slider-nav-next {
		&::after {
			content: "\f0da";
			transform: none;
		}
	}
}

// 首頁形象專屬樣式
#slider-main{
	position: relative;
	width: 100%;
	height: calc(100dvh - 4rem);
	margin-top: 3rem;
	padding: 0;
	border-radius: 0;
	overflow: hidden;
	.slide{
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: 5rem 2rem 2rem 2rem;
		opacity: 1;
		transition: opacity .5s ease-in-out;
		.lead {
			margin-top: auto;
		}
		.cover{
			position: fixed;
			width: 100vw;
			height: 100vw;
			top: 11rem;
			left: auto;
			right: 0;
			opacity: 0;
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: cover;
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 1486.8 1173.4" viewBox="0 0 1486.8 1173.4"><path d="M1133.4 2.5C998.7-12.6 872.1 41.4 789.2 136.3c-54.7 62.7-137.9 92.5-219.8 77.8-10.5-1.9-21.1-3.4-31.9-4.6C271.9 179.7 32.5 371 3 636.7c-29.5 266.3 161.7 504.7 428 533.8 197.2 21.5 379.7-78.8 472.3-240.8 44.9-78.6 126.6-128.7 216.9-135.2 51.7-3.7 105.8-17.1 161.2-42.1 47.2-21.2 87.8-54.7 117.9-96.8C1604 369.3 1422.3 35 1133.4 2.5z"/></svg>');
			mask-mode: alpha;
			z-index: -1;
			transition: opacity 1s ease-in-out;
			img{
				width: 100%;
				height: 100%;
				object-fit: 100% auto;
				object-position: center bottom;
				animation: zoom 12s ease-in-out infinite;
				animation-play-state: paused;
			}
			&.noMask{
				mask-image: none;
				mask-size: cover;
				mask-position: center;
				img{
					object-position: left bottom;
					object-fit: contain;
				}
			}
			@include MD{
				top: 3rem;
				mask-position: center center;
			}
			@include LG{
				width: 80vw;
				height: 100%;
				top: 0;
				left: auto;
				right: -8rem;
				opacity: 0;
				mask-size: contain;
			}
		}
	}
	&::before{
		content: '';
		position: fixed;
		top: 20dvh;
		right: -10vw;
		bottom: auto;
		width: 150%;
		height: 100%;
		background-color: var(--c-main);
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: 100%;
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 1486.8 1173.4" viewBox="0 0 1486.8 1173.4"><path d="M1133.4 2.5C998.7-12.6 872.1 41.4 789.2 136.3c-54.7 62.7-137.9 92.5-219.8 77.8-10.5-1.9-21.1-3.4-31.9-4.6C271.9 179.7 32.5 371 3 636.7c-29.5 266.3 161.7 504.7 428 533.8 197.2 21.5 379.7-78.8 472.3-240.8 44.9-78.6 126.6-128.7 216.9-135.2 51.7-3.7 105.8-17.1 161.2-42.1 47.2-21.2 87.8-54.7 117.9-96.8C1604 369.3 1422.3 35 1133.4 2.5z"/></svg>');
		mask-mode: alpha;
		scale: 1.15 1.1;
		animation: float 8s linear infinite;
		z-index: -1;
		transition: all .5s ease-in-out;
	}
	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		height: 60%;
		background-color: var(--c-highlight);
		mask-position: bottom right;
		mask-repeat: no-repeat;
		mask-size: cover;
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 725.4 480.8" viewBox="0 0 725.4 480.8"><path d="M725.4 0c-43.9 98.3-104.1 190.2-181.6 265.2-63.2 61.7-137.6 111.6-218.2 147.3-102.4 45-213.9 68.9-325.6 68.3v-62c8.2-.5 16.3-1.2 24.5-1.9 115-11.6 228.1-49.9 324.6-113.6 58.9-38.8 111.2-87.5 154.6-142.9 3-3.9 9.4-12.4 12.3-16.3 7.4-10.2 16.3-23.1 23.2-33.6 17.1-26.6 33-54.7 46.5-83.3 4.3-9 8.5-18.1 12.5-27.2h127.2z"/></svg>');
		mask-mode: alpha;
		scale: 1.15 1.1;
		z-index: -2;
	}
	.slider-nav{
		position: absolute;
		height: 3rem;
		line-height: 3rem;
		text-align: center;
		filter: none;
		transform: none;
		color: var(--c-hover) !important;
		opacity: 1;
		padding: 0 0.5ch;
		margin: 0.5ch;
		top: auto;
		bottom: 1rem;
		left: auto;
		right: 3rem;
		font-size: 3.5rem;
		visibility: visible !important;
		&.slider-nav-next {
			right: 0rem;
		}
	}
	.slide-visible{
		.cover{
			opacity: 1 !important;
			img{
				animation: zoom 12s ease-in-out infinite;
				animation-play-state: running;
			}
		}
	}
	@include LG{
		min-height: 28rem;
		.slide{
			h1{
				width: 50%;
			}
			.cover{
				width: 80%;
				height: 100vh;
				top: 0;
				left: auto;
				right: -8rem;
				opacity: 0;
				img{
					object-fit: cover;
				}
			}
		}
		&::before{
			content: '';
			position: fixed;
			top: 3rem;
			right: -8rem;
			width: 80%;
			height: 100%;
			background-color: var(--c-main);
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: 100%;
		}
	}
}