// @use 'sass:math';
@use "../abstracts/mixins" as *;

#footer {
	height: 25vh;
	min-height: 12rem;
	color: var(--c-white);
	background-color: var(--c-brand);
	background-image: url(../images/footer.webp);
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5rem;
	padding: 1.5rem;
	#footerLogo{
		.navbar-brand{
			width: fit-content;
			display: grid;
			grid-template-columns: auto auto;
			align-items: center;
			align-content: center;
			margin: 0 auto;
			.h1{
				font-size: 1.25rem;
				align-self: flex-end;
				align-items: flex-end;
				align-content: flex-end;
				margin: 0 1ch;
				line-height: 1rem;
				letter-spacing: 1px;
				text-align: center;
				color: var(--c-white);
				span{
					display: block;
					margin-top: 0.25rem;
					opacity: .8;
					font-size: 75%;
					letter-spacing: -1px;
				}
			}
		}
	}
	#footerLink{
		width: fit-content;
		text-align: center;
		margin: 0 auto;
	}
	@include MD{
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}