// @use 'sass:math';
@use "../abstracts/mixins" as *;

#footer {
	#footerLogo{
		margin-bottom: 1rem;
		.navbar-brand{
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		align-content: center;
		.h1{
			font-size: 1.25rem;
			align-self: flex-end;
			align-items: flex-end;
			align-content: flex-end;
			margin: 0 1ch;
			line-height: 1rem;
			letter-spacing: 1px;
			text-align: center;
			color: var(--c-white);
			span{
				display: block;
				margin-top: 0.25rem;
				opacity: .8;
				font-size: 75%;
				letter-spacing: -1px;
			}
		}
	}
		@include MD {
			text-align: center;
		}
	}
	height: 25vh;
	min-height: 100%;
	margin-top: 5rem;
	color: var(--c-white);
	background-color: var(--c-brand);
	background-image: url(../images/footer.webp);
	background-position: center;
	background-size: cover;
	padding: .5rem 1rem;
	display: block;
	text-align: center;
	align-content: flex-end;
	#footerInfo {
		display: block;
	}
	@include MD {
		padding: 3rem;
		display: flex;
		align-items: center;
		#footerInfo {
			flex: 1;
			align-items: center;
			justify-content: flex-end;
			text-align: right;
			display: flex;
			flex-wrap: wrap;
		}
		#footerCount{
			flex: 1 0 100%;
		}
		#copyright {
			&::before {
				content: "|";
				display: inline-block;
				padding: 0 1ch 0 0.5ch;
				opacity: 0.5;
			}
		}
	}
}