// @use 'sass:math';
@use "../abstracts/mixins" as *;

#navHeader{
	width: 100%;
	top: 0;
	position: fixed;
	background-color: var(--c-back-sub);
	box-shadow: 0 0 2rem var(--c-shadow);
	border-top: 2px solid var(--c-brand);
	z-index: 4;
	#navbarMain {
		z-index: 2;
		a {
			height: 3.5rem;
			color: var(--c-front-sub);
			padding: 0.5ch 1ch;
			align-content: center;
			&:hover,
			&:focus,
			&.active {
				background-color: var(--c-highlight);
			}
			&::before{
				color: var(--c-main);
			}
		}
		.dropdown-menu {
			background-color: var(--c-back-sub);
			border-radius: 1rem;
		}
		.nav-item{
			align-items: center;
			align-content: center;
			width: 8rem;
			text-align: left;
			margin-left: auto;
			margin-right: 2rem;
			@include MD{
				width: auto;
				margin-left: 0;
				margin-right: 0;
			}
		}
		#switcherMenu{
			padding: 1rem .5rem !important;
			width: max-content;
			text-align: center;
			position: relative;
			top: 0;
			left: auto;
			right: 4rem;
			.switcher{
				text-align: center;
				align-items: center;
				width: max-content;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				button{
					border-radius: 0;
					background-color: var(--c-back);
					color: var(--c-front);
					border: 1px solid var(--c-gary);
					&:first-child{
						border-radius: 99rem 0 0 99rem;
						padding-right: .5ch;
					}
					&:last-child{
						border-radius: 0 99rem 99rem 0;
						padding-left: .5ch;
					}
					&.active{
						border: 1px solid var(--c-highlight);
						box-shadow: 0 0 0 2px var(--c-highlight);
					}
					&:hover,&:focus{
						background-color: var(--c-highlight);
						border-color:var(--c-highlight);
						color: var(--c-highlight-t);
						box-shadow: 0 0 1rem var(--c-highlight);
					}
				}
			}
			#switch{
				&-font-size{
					margin-bottom: 1rem;
					&-M {
					font-size: 16px;
					line-height: 20px;
					}
					&-L {
					font-size: 18px;
					line-height: 20px;
					}
					&-XL {
					font-size: 20px;
					line-height: 20px;
					}
				}
				&-theme{
					&-light {
						background-color: #F7F5EF;
						color: #1A6006;
					}
					&-dark {
						background-color: #121826;
						color: #70BFE0;
					}
					&-contrast {
						background-color: #4F3188;
						color: #FEF852;
					}
					&-light2 {
						background-color: #FFF7EA;
						color: #F29800;
					}
					&-light3 {
						background-color: #FFF7EA;
						color: #06C97B;
					}
				}
			}
			@include MD{
				position: absolute;
				top: auto;
				right: 0;
			}
		}
	}
	#nav-li-home{
		display: none;
	}
	#navbarNav{
		margin-top: 1rem;
		border-top: solid 1px var(--c-g3);
		text-align: center;
		font-size: max(1rem, 16px);
		background-image: url(../images/menu.webp);
		background-position: right 6rem top;
		background-size: auto 100%;
		background-repeat: no-repeat;
	}
	@include SM{
		#navbarNav{
			background-position: center top;
		}
	}
	@include MD{
		#nav-li-home{
			display: block;
		}
		#navbarNav{
			margin-top: 0;
			border-top: none 0px transparent;
			background: none;
		}
	}
}