// @use 'sass:math';
@use '../abstracts/mixins' as *;
#pageGIS{
	#filterPanel{
		#getGPS{
			min-width: 5rem;
			line-height: 2.25;
			border: none;
			background-color: var(--c-g1);
			color: var(--c-front-brand);
			border-radius: 0 6px 6px 0;
			font-size: .8rem;
			height: 2.25rem;
			&::before{
				margin-right: .5ch;
				color: var(--c-front);
				opacity: .6;
			}
			&.active{
				background-color: var(--c-brand);
				color: var(--c-brand-t);
				&::before{
					margin-right: .5ch;
					opacity: 1;
					color: var(--c-highlight);
				}
			}
		}
		@include MD{
			#getGPS{
				min-width: 6.5rem;
				font-size: 1rem;
			}
		}
	}
	#navbar-sub{
		display: none;
	}

	#sidePanel{
		width: 3rem;
		position: fixed;
		top: auto;
		bottom: 50%;
		translate: 0 50%;
		left: .8rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1ch;
		z-index: 0;
		button{
			display: flex;
			width: 2.5rem;
			height: 2.5rem;
			aspect-ratio: 1/1;
			background-color: var(--c-lite);
			color: var(--c-front-brand);
			border: var(--c-lite) solid 1px;
			font-size: 0;
			line-height: 2rem;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			border-radius: 99rem;
			@include shadow;
			&::before{
				font-size: 1.2rem;
			}
			&#zoomOutMap{
				border-radius: 99rem;
				padding: 0;
				background: none;
				box-shadow: none;
				border: none 0 transparent;
				&::before{
					content: '\f010';
				}
			}
			&#zoomInMap{
				border-radius: 99rem;
				padding: 0;
				border: none;
				background: none;
				box-shadow: none;
				border: none 0 transparent;
				&::before{
					content: '\f00e';
				}
			}
			&#openFliter{
				display: none;
				justify-content: start;
				border: none;
				background: none;
				aspect-ratio: auto;
				&::before{
					font-size: 1.5rem;
				}
			}
		}
		#zoomLevel{
			position: relative;
			width: 100%;
			text-align: center;
			font-size: 1rem;
			width: 2.8rem;
			z-index: -1;
			color: var(--c-black);
			border-radius: 99rem;
			font-weight: bold;
			padding: 3.2rem 2px;
			margin: -3.2rem 0;
			&::after{
				position: absolute;
				top:0;
				left: 0;
				content: '';
				display: block;
				background-color: var(--c-white);
				width: 100%;
				height: 100%;
				border-radius: 99rem;
				@include shadow;
				translate: 0 0;
				z-index: -1;
			}
		}
		#setLayerImg{
			~ .dropdown-menu-end{
				min-width: 0;
				padding: 1ch !important;
			}
		}
		#setLayerImg01,#setLayerImg02{
			display:block;
			width:auto;
			height:auto;
			aspect-ratio:0;
			text-align:center;
			border-radius:8px;
			font-size:1rem;
			padding:.5ch;
			margin-bottom:1rem;
			background-color:var(--c-back);
			color:var(--c-front-brand);
			border:none 0px rgba(0,0,0,0);
			box-shadow:0 0 1rem 0 rgba($color: #000000, $alpha: 0.2);
			&::before{
				content:"";
				display:block;
				width:5rem;
				height:3rem;
				background-color:var(--c-g2);
			}
		}
		@include MD{
			width: auto;
			height: auto;
			position: fixed;
			top: 11rem;
			left: 1.5rem;
			bottom: auto;
			translate: 0 0;
			border-radius: 0 1rem 1rem 0;
			display: flex;
			flex-direction: column;
			padding: 1rem .5rem;
			justify-content: center;
			align-items: center;
			gap: .5rem;
			border-radius: 0 1rem 1rem 0;
			button{
				display: flex;
				width: 100%;
				height: auto;
				aspect-ratio: 1/1;
				font-size: .8rem;
				border-radius: 1rem;
				padding: 1ch;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				line-height: 1;
				&::before{
					font-size: 2rem;
				}
				&#getGPS, &#allowGPS{
					border-radius: 1rem;
					transition: all .3s ease-in-out;
					&::before{
						translate: 0 0;
						font-size: 2rem;
					}
					&:not(:hover){
						font-size: 0;
						border-radius: 99rem;
						padding: 0;
						border: none;
						&::before{
							translate: 0 18%;
							font-size: 2.5rem;
						}
					}
				}
				&#zoomOutMap{
					border-radius: 99rem;
					padding: 0;
					border: none;
					margin-bottom: 1.5rem;
					&::before{
						font-size: 2.5rem;
					}
				}
				&#zoomInMap{
					border-radius: 99rem;
					padding: 0;
					border: none;;
					margin-top: 1.5rem;
					&::before{
						font-size: 2.5rem;
					}
				}
				&#openFliter{
					justify-content: start;
					border: none;
					background: none;
					aspect-ratio: auto;
					&::before{
						font-size: 1.5rem;
					}
				}
				&:hover{
					color: var(--c-hover);
				}
			}
			#zoomLevel{
				width: 100%;
				padding: 5rem 2px;
				margin: -5rem 0;
				&::after{
					width: calc(100% + 6px);
					height: 100%;
					@include shadow;
					translate: -3px 0;
					z-index: -1;
				}
			}
		}
	}

	#map{
		height: 100dvh;
		width: 100%;
		background-color: var(--c-white);
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		.layer {	// 視程式而定，可能不需要
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: none;
			z-index: 1;
		}
		#mapViewport{ // 視程式而定，可能不需要
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height:100%;
			cursor: move;
			background-image: url(../images/demo_gis.webp);
		}
	}

	#footer{
		position: fixed;
		bottom: 8.5rem;
		left: 0;
		width: 100%;
		padding: 0 1.5rem;
		margin: 0;
		height: 2rem;
		min-height: 2rem;
		background: none;
		text-align: right;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		gap: 1rem;
		pointer-events: none;
		top: auto;
		@include MD{
			bottom: .5rem;
		}
	}

	#resultPanel{
		position: fixed;
		height: calc(100dvh - 2.5rem);
		padding: 0 0 7.5rem 0;
		top: 4.5rem;
		right:0;
		width: 100%;
		transition: all .5s ease-in-out;
		overflow-y: scroll;
		background-color: var(--c-back-blur);
		backdrop-filter: blur(5px);
		@include shadow;
		&:empty{
			opacity: 0;
		}
		nav{
			position: relative;
			width: calc(100% - 1rem);
			margin: .5rem  auto 0 1rem;
			padding: .5rem 1rem 1ch 1rem;
			display: flex;
			align-items: center;
			justify-content: right;
			border-top: 1px solid var(--c-g3);
			label{
				margin-left: 0;
				margin-right: auto;
			}
			a{
				color: var(--c-front-brand);
			}
			.slider-nav{
				color: var(--c-front-brand);
			}
			.slider-nav-next{
				order: 99999;
			}
			.nav-page{
				border: none;
				background: none;
				color: var(--c-front-brand);
			}
		}
		@include MD{
			position: fixed;
			top: 4.5rem;
			right:0;
			height: calc(100dvh - 4.5rem);
			width: 40vw;
			max-width: 39rem;
			min-width: 30rem;
			overflow: visible;
			#resultPanelBtn{
				display: none;
			}
			#resultPanelCotainer{
				height: 100%;
				overflow-y: scroll;
			}
			.result-all-item{
				h2{
					text-align: left;
				}
				.items{
					text-align: left;
					padding-left: .5rem;
				}
				.levels{
					.level{
						&::before{
							left: 1.5rem;
						}
						&::after{
							left: 1rem;
						}
					}
					.items{
						grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
					}
				}
			}
		}
		&:not(.active){
			top: calc(100dvh - 8rem);
		}
		@include MD{
			padding: 6rem 0 3.5rem 0;
			&:not(.active){
				top: -110vh;
				pointer-events: none;
			}
		}
	}

	#resultPanelCotainer{
		border-radius: 1rem;
	}

	#breadcrumb{
		position: fixed;
		top: 5.5rem;
		left: 0;
		z-index: 1;
		.breadcrumb{
			background-color: var(--c-white);
			color: var(--c-dark);
			padding: .5rem 1rem .5rem 1.5rem;
			border-radius: 0 99rem 99rem 0;
			border: 1px solid var(--c-lite);
			// @include shadow;
			a,.active{
				color: var(--c-dark);
				&::before{
					color: var(--c-gary);
				}
			}
		}
	}

	// 共用 CLASS 本頁特殊處理 result-all-item
	.result-all-item{
		margin: 7rem 1.5rem 4rem 1.5rem;
		> div{
			border-radius: 1rem;
			overflow: hidden;
			@include shadow;
			z-index: 2;
		}
		.toggle-switch{
			position: absolute;
			top: -2rem;
			right: 0;
			z-index: 3;
		}
		p{
			position: absolute;
			width: 100%;
			top: -4rem;
			padding: 0 1rem;
			label{
				&:not(:last-child){
					&::after{
						content: '>';
						opacity: 0.5;
						margin: 0 .5ch;
					}
				}
				&:last-of-type{
					color: var(--c-hover);
				}
			}
			label
			span,a,button{
				float: right;
				color: var(--c-brand);
				font-weight: bold;
				line-height: inherit;
				text-decoration: none;
				&::before{
					content: '\f601';
					@include fa-icon;
				}
				&:hover{
					color: var(--c-highlight);
				}
			}
			a{
				margin-top: .5rem;
				float: none !important;
			}
		}
		h2{
			width: 100%;
			padding-left: 1rem;
			letter-spacing: 1px;
		}
		.levels{
			padding: 1rem;
			h3{
				display: none;
			}
			.items{
				[class^="fa"]{
					margin: .5ch;
					padding: 0 1ch;
				}
			}
		}
		@include SM{
			margin: 2rem 1.5rem 4rem 1.5rem;
			.toggle-switch {
				top: .75rem;
				left: auto;
				right: 1rem;
			}
			p{
				top: -2rem;
				a{
					margin-top: 0;
					float: right !important;
				}
			}
		}
	}
	#coordinates, #scale {
		position: unset;
		width: auto;
		opacity: .8;
		border: 2px solid var(--c-white) !important;
		background-color: var(--c-white) !important;
		color: var(--c-black) !important;
		padding: 0 .5rem;
		border-radius: 1rem;
		text-decoration: none;
		.ol-scale-line{
			position: unset;
		}
	}

	.skip-link{
		position: absolute;
		left: .25rem;
		translate: 0 -1rem;
	}
}