// @use 'sass:math';
@use '../abstracts/mixins' as *;
#pageGIS{
	#navbar-sub{
		display: none;
	}
	#filterPanel{
		width: 100%;
		max-height: 6rem;
		top: auto;
		left: 0;
		bottom: 0;
		padding: 2rem 1.5rem 1rem 1rem;
		position: fixed;
		background-color: var(--c-brand);
		display: block;
		box-shadow: 0 0 .5rem 0 var(--c-shadow);
		z-index: 1;
		border-radius: 1rem 1rem 0 0;
		transition: all .5s ease-in-out;
		&:has(:focus){
			max-height: 100vh;
			#filterPanelForm{
				.form-group:not(:first-child){
					opacity: 1;
				}
			}
		}
		#filterPanelForm{
			order: 1;
			width: 100%;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			gap: .5rem;
			color: var(--c-white);
			.form-group:not(:first-child){
				opacity: 0;
				transition: all .3s ease-in-out;
			}
		}
		#filterPanelMore{
			width: 100%;
			max-width: 100%;
			order: 3;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: left;
			gap: .5rem;
			color: var(--c-white);
			border-top: solid 1px var(--c-white);
			padding-top: 1rem;
			margin-top: .5rem;
		}
		#moreTags{
			width: 100%;
			order: 2;
			margin: .5rem 0;
			transition: all .3s ease-in-out;
			transition-delay: 1s;
			.tags{
				border-top: dotted 1px var(--c-white);
				padding: .5rem 0;
			}
		}
		#filterBtns{
			order: 4;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 1rem;
			flex: 1 0 100%;
			button{
				width: 45%;
			}
		}
		.form-control:is([list],[select]) {
			position: relative;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23333' viewBox='0 0 16 16'%3E%3Cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: right 1ch center;
		}
		.form-group{
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			label:not(.tag){
				flex: 0 0 3.5rem;
				&:is([required]){
					&::after{
						content: ' *';
						color: #F00;
					}
				}
			}
			#keyword + .input-group-text{
				&::before{
					content: '\f00d';
					@include fa-icon;
				}
			}
		}
		&.active{
			#moreOptionBtn{
				&::after{
					content: '\f00d';
					@include fa-icon;
				}
			}
		}
		&:not(.active){
			#filterPanelForm{
				max-width: 100%;
				transition: all .5s ease-in-out;
			}
			#filterPanelMore{
				max-width: 100%;
				max-height: 0;
				overflow: hidden;
				margin-left: 0;
				padding-left: 0;
				border-width: 0;
				transition: all .5s ease-in-out;
				@include MD{
					max-width: 0%;
					max-height: 0;
					overflow: hidden;
					margin-left: 0;
					padding-left: 0;
					border-width: 0;
				}
			}
			#moreTags{
				max-height: 0;
				overflow: hidden;
			}
			#moreOptionBtn{
				&::after{
					content: '\f101';
					@include fa-icon;
				}
			}
			@include MD{
				width: 23rem;
				#filterPanelForm{
					max-width: 20rem;
				}
			}
		}
		@include MD{
			display: flex;
			width: 46rem;
			max-height: 400px;
			top: 5.5rem;
			left: 1.5rem;
			bottom: auto;
			padding: 1rem;
			border-radius: 1rem;
			.form-group{
				display: flex;
				flex-direction: row;
				align-items: center;
				label:not(.tag){
					flex: 0 0 3.5rem;
					&:is([required]){
						&::after{
							content: ' *';
							color: #F00;
						}
					}
				}
				#keyword + .input-group-text{
					&::before{
						content: '\f00d';
						@include fa-icon;
					}
				}
			}
			#filterPanelForm{
				order: 1;
				width: 100%;
				max-width: 50%;
				.form-group:not(:first-child){
					opacity: 1;
				}
			}
			#filterPanelMore{
				width: 100%;
				order: 2;
				max-width: calc(50% - 1rem);
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: left;
				gap: .5rem;
				color: var(--c-white);
				border-left: solid 1px var(--c-white);
				padding-left: 1rem;
				margin-left: 1rem;
				border-top: none 0 transparent;
				padding-top: 0;
				margin-top: .0;
			}
			#moreTags{
				order: 3;
			}
			#filterBtns{
				margin-top: auto;
			}
		}
	}
	#sidePanel{
		width: 3rem;
		position: fixed;
		top: auto;
		bottom: 50%;
		translate: 0 50%;
		left: .8rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1ch;
		border-radius: 0;
		background-color: transparent;
		color: var(--c-white);
		z-index: 0;
		button{
			display: flex;
			width: 2.5rem;
			height: 2.5rem;
			aspect-ratio: 1/1;
			background-color: var(--c-brand);
			color: var(--c-brand-t);
			border: var(--c-brand) solid 1px;
			font-size: 0;
			line-height: 2rem;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			border-radius: 99rem;
			box-shadow: 0 0 1rem 0 var(--c-shadow);
			&::before{
				font-size: 1.2rem;
			}
			&#zoomOutMap{
				border-radius: 99rem;
				padding: 0;
				border: none;
				&::before{
					content: '\f010';
				}
			}
			&#zoomInMap{
				border-radius: 99rem;
				padding: 0;
				border: none;
				&::before{
					content: '\f00e';
				}
			}
			&#openFliter{
				display: none;
				justify-content: start;
				border: none;
				background: none;
				aspect-ratio: auto;
				&::before{
					font-size: 1.5rem;
				}
			}
		}
		#zoomSize{
			position: relative;
			font-size: .9rem;
			padding: 1.5rem 2px;
			margin: -2rem 0;
			background-color: var(--c-back-sub);
			z-index: -1;
			color: var(--c-front-brand);
			border: 2px solid var(--c-brand);
		}
		#setLayerImg{
			~ .dropdown-menu-end{
				min-width: 0;
				padding: 1ch !important;
			}
		}
		#setLayerImg01,#setLayerImg02{
			display:block;
			width:auto;
			height:auto;
			aspect-ratio:0;
			text-align:center;
			border-radius:8px;
			font-size:1rem;
			padding:.5ch;
			margin-bottom:1rem;
			background-color:var(--c-back);
			color:var(--c-front-brand);
			border:none 0px rgba(0,0,0,0);
			box-shadow:0 0 1rem 0 rgba($color: #000000, $alpha: 0.2);
			&::before{
				content:"";
				display:block;
				width:5rem;
				height:3rem;
				background-color:var(--c-g2);
			}
		}
		@include MD{
			width: auto;
			height: auto;
			position: fixed;
			left: 1.5rem;
			bottom: 1.5rem;
			translate: 0 0;
			border-radius: 0 1rem 1rem 0;
			display: flex;
			flex-direction: column;

			padding: 1rem .5rem;
			justify-content: center;
			align-items: center;
			gap: .5rem;
			border-radius: 0 1rem 1rem 0;
			button{
				display: flex;
				width: 100%;
				height: auto;
				aspect-ratio: 1/1;
				color: var(--c-white);
				font-size: .8rem;
				border-radius: 1rem;
				padding: 1ch;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				line-height: 1;
				&::before{
					font-size: 2em;
				}
				&#zoomOutMap{
					border-radius: 99rem;
					padding: 0;
					border: none;
					margin-bottom: 2rem;
					&::before{
						font-size: 2.5rem;
					}
				}
				&#zoomInMap{
					border-radius: 99rem;
					padding: 0;
					border: none;;
					&::before{
						font-size: 2.5rem;
					}
				}
				&#openFliter{
					justify-content: start;
					border: none;
					background: none;
					aspect-ratio: auto;
					&::before{
						font-size: 1.5rem;
					}
				}
			}
			#zoomSize{
				font-size: 1.2rem;
				padding: 1.5rem .7ch;
			}
		}
	}
	#map{
		height: 100dvh;
		width: 100%;
		background-color: $brand-d;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		.layer {	// 視程式而定，可能不需要
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: none;
			z-index: 1;
		}
		#mapViewport{ // 視程式而定，可能不需要
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height:100%;
			cursor: move;
			background-image: url(../images/gis_fake.webp);
		}
	}
	#footer{
		position: fixed;
		bottom: 10rem;
		left: 0;
		width: 100%;
		padding: .5rem 1rem;
		margin: 6px;
		height: 2rem;
		background: none;
		text-align: right;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-end;
		gap: 6px;
		pointer-events: none;
		@include SM{
			position: fixed;
			bottom: .5rem;
			display: block;
		}
		label,a{
			opacity: 0;
			&:not(:empty){
				opacity: .8;
				border: 1px solid var(--c-sub);
				background-color: var(--c-white);
				color: var(--c-brand);
				padding: 0 .5rem;
				border-radius: 1rem;
				text-decoration: none;
			}
		}
	}

	#resultPanel{
		position: fixed;
		top: 4.5rem;
		right:0;
		height: calc(100dvh - 5.5rem);
		width: 100%;
		padding: 0 0 6rem 0;
		transition: all .5s ease-in-out;
		background-color: var(--c-g1);
		color: var(--c-brand);
		overflow-y: scroll;
		box-shadow: 0 0 1rem 0 var(--c-shadow);
		#resultPanelBtn{
			position: sticky;
			top: 0;
			left: 0;
			// background-color: var(--c-g1);
			display: block;
			text-align: center;
			width: 100%;
			padding: .5rem 0;
			background-color: var(--c-back);
			color: var(--c-front);
			border-top: solid 1px var(--c-white);
			box-shadow: inset 0 0 2rem 0 rgba($color: #000000, $alpha: 0.1);
			letter-spacing: 2px;
			z-index: 3;
			&::before{
				content: '';
				display: block;
				width: 4rem;
				height: 4px;
				margin: 3px auto 6px auto;
				background-color: var(--c-main);
				border-radius: 99rem;
				opacity: .5;
			}
		}
		#resultPanelCotainer{
			border-radius: 1rem;
			// padding-right: 1rem;
			h2{
				margin: 0;
				@include obj-theme(brand,0);
				padding: .5rem 1rem;
				border: 1px solid var(--c-main);
				border-radius: 1rem 1rem 0 0;
				box-shadow: 0 -8px 6px 0 var(--c-shadow);
				label{
					&:first-child{
						&::after{
							content: '\f0da';
							@include fa-icon;
						}
					}
				}
				&:hover{
					color: var(--c-highlight);
				}
				&.active{
					color: var(--c-highlight);
				}
			}
			.result-item{
				background-color: var(--c-brand);
				color: var(--c-brand-t);
				border-radius: 1rem;
				overflow: hidden;
				border: 2px solid var(--c-main);
				&:not(:last-child){
					margin-bottom: 1rem;
				}
				h3{
					grid-area: title;
					font-size: 1.5rem;
					padding: .5rem 1rem;
				}
				.info{
					padding: .5rem 1rem;
					grid-area: info;
					margin: 0;
				}
				.tab-bar{
					grid-area: tab-bar;
				}
				.tab-content{
					grid-area: tab-info;
				}
			}
			.result-level-item{
				color: var(--c-brand);
				h3{
					grid-area: title;
					font-size: 1.2rem;
					padding: 2rem 1rem .5rem 1rem;
					margin: 1rem 0 0 0;
					border-radius: 0;
					border-top: 1px solid var(--c-white);
					z-index: 3;
					&::before{
						content: '\f3c5';
						margin-right: .5ch;
						@include fa-icon;
					}
				}
				.info{
					display: flex;
					margin: .5rem 1rem;
					button{
						align-self: center;
						height: 2.5rem;
					}
					.form-select{
						max-width: 50%;
						margin: 0 .5ch 0 auto;
					}
				}

				.items{
					button.fa{
						color: var(--c-black);
						background-color: var(--c-white);
						border: solid 1px var(--c-g3);
						border-radius:.99rem;
						padding:.5em;
						margin: .25ch;
						font-weight: normal;
						&::before{
							font-weight: bold;
							margin-right: .25ch;
							font-size: 1.2em;
							color: var(--c-main);
						}
						&:hover{
							background-color: var(--c-highlight);
						}
					}
				}
				h4{
					display: flex;
					margin: 1rem .5rem;
					letter-spacing: 2px;
				}
				.items{
					flex: 0 1 80%;
					margin: 0;
					display: flex;
					flex-wrap: wrap;
				}
				@include MD{
					background-color: var(--c-white);
					h3{
						grid-area: title;
						font-size: 1.5rem;
						margin: 0;
						padding: 1rem 1rem .5rem 1rem;
						@include obj-theme(brand,0);
						z-index: 3;
					}
					.info{
						display: flex;
						align-items: center;
						.form-select{
							max-width: 16rem;
							margin-left: auto;
						}
					}
					.level{
						&::before {
							border-color: var(--c-white);
						}
						&:hover {
							&::before {
							}
						}
						&:not(:last-child){
							&::after{
								@include obj-theme(main,0);
							}
						}
					}
					h4{
						display: flex;
						margin: 1rem .5rem;
						letter-spacing: 2px;
						color: var(--c-black);
					}
				}
			}

		}

		nav{
			width: calc(100% - 1rem);
			display: flex;
			align-items: center;
			justify-content: right;
			padding: 0 1rem;
			background-color: var(--c-brand);
			color: var(--c-brand-t);
			border-radius: 1rem;
			margin-top: .5rem;
			margin-left: auto;
			margin-right: auto;
			border: 1px solid var(--c-black);
			label{
				margin-left: 0;
				margin-right: auto;
			}
			.slider-nav{
				color: var(--c-white);
			}
			.slider-nav-next{
				order: 99999;
			}
			.nav-page{
				border: none;
				background: none;
				color: var(--c-white);
			}
		}
		&:not(.active){
			opacity: 1;
			top: calc(100dvh - 9.3rem);
		}
		@include MD{
			position: fixed;
			top: 5rem;
			right:-6px;
			height: calc(100dvh - 7rem);
			width: 35vw;
			min-width: 34rem;
			border-radius: 1rem 0 0 1rem;
			border: 1px solid var(--c-white);
			box-shadow: 0 0 0 1px var(--c-main), 0 0 1rem 0 var(--c-shadow), inset 0 0 3px 0 var(--c-shadow);
			padding: 0 0 2.5rem 0;
			overflow: visible;
			#resultPanelBtn{
				display: none;
			}
			&:not(.active){
				top: 5rem;
				opacity: 0;
				right: -110%;
			}
			#resultPanelCotainer{
				height: 100%;
				overflow-y: scroll;
			}
		}
	}
}