// @use 'sass:math';
@use "../abstracts/mixins" as *;


#index{
	#content{
		margin-top: 2rem;
	}
}

.navbar-brand{
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	align-content: center;
	h1{
		font-size: 1rem;
		align-self: center;
		align-items: center;
		align-content: center;
		margin: 0 1ch;
	}
}

.section-title {
	margin-top: 4rem;
	position: relative;
	padding: 0 0 0 2rem;
	&::after {
		position: absolute;
		display: block;
		content: "";
		height: 7rem;
		width: 6px;
		top: 0;
		left: 0.5ch;
		background-color: var(--c-hover);
	}
}

.startup{
	#slider-main{
		.slide{
			opacity: 0;
			pointer-events: none;
		}
		&::before{
			opacity: .6;
			background-color: var(--c-highlight);
		}
	}
}