// @use 'sass:math';
@use '../abstracts/mixins' as *;

#listPage{
	main{
		padding-bottom: 1rem;
	}
	.result-area{
		column-count: 1;
	}
	footer{
		margin-bottom: 3rem;
		@include SM{
			margin-bottom: 0;
		}
	}
	&::before{
		content: '';
		position: fixed;
		top: 6rem;
		right: -8rem;
		width: 80%;
		height: 80%;
		opacity: .3;
		background-color: var(--c-highlight);
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: 100%;
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 1486.8 1173.4" viewBox="0 0 1486.8 1173.4"><path d="M1133.4 2.5C998.7-12.6 872.1 41.4 789.2 136.3c-54.7 62.7-137.9 92.5-219.8 77.8-10.5-1.9-21.1-3.4-31.9-4.6C271.9 179.7 32.5 371 3 636.7c-29.5 266.3 161.7 504.7 428 533.8 197.2 21.5 379.7-78.8 472.3-240.8 44.9-78.6 126.6-128.7 216.9-135.2 51.7-3.7 105.8-17.1 161.2-42.1 47.2-21.2 87.8-54.7 117.9-96.8C1604 369.3 1422.3 35 1133.4 2.5z"/></svg>');
		mask-mode: alpha;
		scale: 1.15 1.1;
		animation: float 8s linear infinite;
		z-index: -1;
		transition: all .5s ease-in-out;
	}
	#navbar-sub{
		display: none;
	}
	#filterPanel{
		#send,#clear{
			width: 45%;
			margin-top: .5rem;
			order: 9;
		}
		#clear{
			left: auto;
			right: 1rem;
		}

		#filterPanelForm{
			order: 1;
			flex-grow: 1;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			border-radius: 1rem;

			#send,#clear{
				flex: 1 0 40%;
				height: 2rem;
				line-height: 1.25;
			}
		}
		#moreOptionBtn{
			text-decoration: none;
			background-color: var(--c-main);
			border-color: var(--c-brand);
			color: var(--c-main-t);
			margin-left: 0;
			margin-right: auto;
			margin-bottom: 0;
			opacity: .8;
			&:hover{
				border-color: var(--c-highlight);
				opacity: 1;
			}
			&::after{
				content: "" !important;
			}
		}
		#moreTagsMenu{
			width: 100%;
			padding: .5rem  0;
			margin: 0;
			grid-template-columns: repeat(auto-fill, 1fr);
			order: 9;
			hr{
				margin: 1ch 0;
				grid-column-start: 1;
				grid-column-end: 5;
			}
			.tag{
				margin-bottom: .5ch;
			}
			&.dropdown-menu.show{
				display: grid;
			}
		}
		@include MD{
			position: relative;
			top: 0;
			width: 100%;
			max-height: unset;
			max-width: 960px;
			margin: 1.5rem auto;
			flex-direction: row;
			padding: 0;
			border-radius: 1rem;
			background-color: var(--c-back-sub);
			color: var(--c-front-sub);
			border: none;
			overflow: visible;
			flex-wrap: nowrap;
			#moreTagsMenu{
				width: 100%;
				padding: .5rem 0;
				margin: 0;
				grid-template-columns: repeat(auto-fill, 1fr);
			}
			#filterPanelForm{
				max-width: 100%;
				order: 1;
				flex-grow: 1;
				flex-direction: row;
				align-items: flex-end;
				padding: 1rem;
				justify-content: space-between;
				.form-group {
					opacity: 1;
					flex: 0 0 calc(33% - 1rem);
					flex-direction: column;
					label:not(.tag) {
						align-items: flex-start;
						flex: 0 0 0;
						margin: 0 auto 0 0;
					}
				}
				.tags{
					flex: 0 0 65%;
					.tags{
						flex: 0 0 auto !important
					}
				}
				#send,#clear,#btn-clear{
					flex: 1 0 15%;
					margin-top: .25rem;
					align-self: flex-start;
					order: 8;
				}
			}
			#moreTagsFunction{
				margin-left: 0;
				margin-right: auto;
				margin-bottom: 0;
			}
		}
	}

	#layoutBtns{
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		color: var(--c-brand-t);
		padding: .5rem;
		margin-bottom: 2rem;
		a, button{
			display: flex;
			justify-content: space-between;
			border: var(--c-g3) solid 1px;
			color: var(--c-black);
			background-color: var(--c-white);
			align-items: center;
			border-radius:0;
			&:first-child{
				border-radius:1rem 0 0 1rem;
			}
			&:last-child{
				border-radius:0 1rem 1rem 0;
			}
			&::before{
				font-size: 1rem;
				transition: all .3s ease-in-out;
				color: var(--c-hover);
			}
			&.active{
				background-color: var(--c-highlight);
				color: var(--c-highlight-t);
				&::before{
					font-size: 1.5rem;
					color: var(--c-brand);
					rotate: 360deg;
				}
			}
			&:hover{
				&::before{
					font-size: 1.5rem;
					color: var(--c-brand);
					rotate: 360deg;
				}
			}
		}
		&::before{
			content: '';
			display: block;
			width:100%;
			position: absolute;
			top: 50%;
			z-index: -1;
			border-top: 1px solid var(--c-front-brand);
		}
	}

	.school-title{
		font-size: 2rem;
		margin-bottom: 3rem;
	}
	.school-info{
		position: relative;
		clear: both;
		margin-bottom: 3rem;
		padding-left: 5rem;
		padding-right: 0;
		.align-right{
			text-align: right;
		}
		.btn-takeme, .btn-GoMap{
			position: absolute;
			left: 0;
			right: auto;
			top: 50%;
			translate: 0 -50%;
			width: 4rem;
			min-height: 3rem;
			padding-top: 3rem;
			text-align: center;
			&::before{
				top: .5rem;
				left: 1rem;
				content: "";
				position: absolute;
				width: 2.5rem;
				height: 2.5rem;
				background-color: var(--c-hover);
				mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 80 80" viewBox="0 0 80 80"><path d="M37.8 27.6c-4.3 4.6-7.1 10.2-8.1 16.3-.9-2.2-2.3-4.1-4-5.8L12.2 24.6l11.3-11.3L37 26.8l.8.8z"/><path d="m71 9.6-31.8 5.1 7.7 6.6-7 7c-5.6 5.6-8.7 13-8.7 20.9v21.4h16V49.3c0-3.6 1.4-7 4-9.6l6.5-6.5 4.8 6.9L71 9.6z"/></svg>');
				mask-position: center;
				mask-size: cover;
				mask-repeat: no-repeat;
			}
			&:hover{
				&::before{
					background-color: var(--c-brand);
				}
			}
		}
		@include MD{
			padding-left: 5rem;
			padding-right: 0;
			.btn-takeme{
				left: 0;
				right: auto;
			}
		}
	}

	.tags{
		.tag{
			border-width: 2px;
			&:has(input:checked) {
				border: 2px solid var(--c-highlight);
				background-color: var(--c-highlight);
				span{
					&::before{
						margin-right: .5ch;
						opacity: 1;
						color: var(--c-highlight-t);
					}
				}
			}
			input{
				opacity: 0;
				scale: 0;
				visibility: hidden;
				display: none;
			}
			&:hover{
				border: 2px solid var(--c-highlight);
			}
		}
	}
	@include XL{
		.result-area{
			column-count: 1;
		}
	}
	@include XXL{
		#content{
			.result-area{
				column-count: 2;
				column-gap: 2rem;
				&:has(#noResult){
					column-count: 1;
					column-gap: 0;
				}
				header{
					flex: 0 0 100%;
					max-width: 1600px;
					margin: 0 auto 0 0;
					column-span: all;
					break-inside: avoid;
				}
			}
			.result-all-item{
				flex: 0 0 calc(50% - 2rem);
			}
		}
		max-width: 100%;
		margin: 0 auto;
	}
}

.twoColumn{
	&#listPage{
		@include XL{
			#content{
				.result-area{
					min-width: 100%;
					max-width: unset;
					column-count: 2;
					column-gap: 2rem;
					&:has(#noResult){
						column-count: 1;
						column-gap: 0;
					}
					header{
						flex: 0 0 100%;
						max-width: 1600px;
						margin: 0 auto 0 0;
						column-span: all;
						break-inside: avoid;
					}
				}
				.result-all-item{
					flex: 0 0 calc(50% - 2rem);
				}
			}
		}
	}
}
#listPage{
	#content{
		section{
			@include XXL{
				max-width: 100%;
				margin: 0 auto;
			}
		}
	}
	&:has(#filterPanel.active){
		#backTop{
			bottom: 25rem;
		}
	}
	&:has(#moreTagsMenu.show){
		#backTop{
			bottom: 43rem;
		}
	}
}
