// @use 'sass:math';
@use '../abstracts/mixins' as *;

#listPage{
	#content{
		margin-top: 6rem;
	}
	#navbar-sub{
		display: none;
	}
	#filterPanel{
		position: relative;
		top: 0;
		width: 100%;
		max-height: unset;
		max-width: 960px;
		margin: 1.5rem auto;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0;
		background-color: var(--c-brand);
		color: var(--c-brand-t);
		border-radius: 1rem;
		border: none;
		overflow: hidden;
		#filterPanelForm{
			order: 1;
			flex-grow: 1;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			padding: 1rem;
			border-radius: 0 1rem 1rem 0;
			background-color: var(--c-brand);
			color: var(--c-brand-t);
			.form-group {
				opacity: 1;
				flex-direction: column;
				flex: 1 1 auto;
				align-items: start;
				label:not(.tag){
					flex: 0;
					padding: 0ch;
				}
			}
			#send{
				margin-left: auto;
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
		@include MD{
			width: 100%;
			margin: 1.5rem auto;
			flex-direction: row;
			flex-wrap: nowrap;
			padding: 0;
			background-color: var(--c-brand);
			color: var(--c-brand-t);
			overflow: hidden;
			#filterPanelForm{
				max-width: 100%;
				order: 1;
				flex-grow: 1;
				flex-direction: row;
				align-items: flex-end;
				padding: 1rem;
				border-radius: 0 1rem 1rem 0;
				.form-group {
					flex-direction: column;
					flex: 0 1 25%;
					align-items: start;
				}
			}
		}
	}

	#layoutBtns{
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		color: var(--c-brand-t);
		padding: .5rem;
		margin-bottom: 2rem;
		a{
			display: flex;
			justify-content: space-between;
			border: var(--c-g3) solid 1px;
			color: var(--c-black);
			background-color: var(--c-white);
			align-items: center;
			&:first-child{
				border-radius:1rem 0 0 1rem;
			}
			&:last-child{
				border-radius:0 1rem 1rem 0;
			}
			&::before{
				font-size: 1rem;
				transition: all .3s ease-in-out;
				color: var(--c-main);
			}
			&.active{
				background-color: var(--c-highlight);
				color: var(--c-highlight-t);
				&::before{
					font-size: 1.5rem;
					color: var(--c-brand);
					rotate: 360deg;
				}
			}
			&:hover{
				&::before{
					font-size: 1.5rem;
					color: var(--c-brand);
					rotate: 360deg;
				}
			}
		}
		&::before{
			content: '';
			display: block;
			width:100%;
			position: absolute;
			top: 50%;
			z-index: -1;
			border-top: 1px solid var(--c-front-brand);
		}
	}

	.school-title{
		font-size: 2rem;
		margin-bottom: 3rem;
	}
	.school-info{
		clear: both;
		margin-bottom: 3rem;
		.align-right{
			text-align: right;
		}
	}
}