// @use 'sass:math';
@use '../abstracts/mixins' as *;

#listPage{
	#navbar-sub{
		display: none;
	}
	#filterPanel{
		position: relative;
		top: 0;
		width: 100%;
		max-height: unset;
		max-width: 960px;
		margin: 1.5rem auto;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0;
		border-radius: 1rem;
		background-color: var(--c-brand);
		color: var(--c-brand-t);
		border: none;
		overflow: visible;
		#filterPanelForm{
			order: 1;
			flex-grow: 1;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			padding: 1rem;
			border-radius: 1rem;
			background-color: var(--c-brand);
			color: var(--c-brand-t);
			.form-group {
				opacity: 1;
				flex-direction: column;
				flex: 1 1 auto;
				align-items: start;
				label:not(.tag){
					flex: 0;
					padding: 0ch;
				}
			}
			.tags{
				flex: 1 1 100%;
			}
			#send,#clear{
				flex: 1 0 50%;
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
		#moreTagsFunction{
			text-decoration: none;
			background-color: var(--c-back);
			border-color: var(--c-back);
			color: var(--c-sub-t);
			margin-left: 2.5rem;
			margin-right: auto;
			margin-bottom: 1ch;
			opacity: .8;
			&:hover{
				border-color: var(--c-highlight);
				opacity: 1;
			}
		}
		#moreTagsMenu{
			width: 100%;
			padding: .5rem;

			margin: 0 1rem;
			grid-template-columns: repeat(auto-fill, 1fr);
			hr{
				margin: 1ch 0;
				grid-column-start: 1;
				grid-column-end: 5;
			}
			.tag{
				color: var(--c-front);
				margin-right: auto;
				margin-bottom: .5ch;
			}
			&.dropdown-menu.show{
				display: grid;
			}
		}
		@include MD{
			width: 100%;
			margin: 1.5rem auto;
			flex-direction: row;
			flex-wrap: nowrap;
			padding: 0;
			background-color: var(--c-brand);
			color: var(--c-brand-t);
			#filterPanelForm{
				max-width: 100%;
				order: 1;
				flex-grow: 1;
				flex-direction: row;
				align-items: flex-end;
				padding: 1rem;
				justify-content: space-between;
				.form-group {
					flex: 0 1 32%;
				}
				.tags{
					flex: 1 1 65%;
				}
				#send,#clear{
					flex: 1 0 15%;
					padding-left: 2rem;
					padding-right: 2rem;
				}
			}
			#moreTagsFunction{
				margin-left: auto;
				margin-right: 0;
				margin-bottom: 0;
			}
		}
	}

	#layoutBtns{
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		color: var(--c-brand-t);
		padding: .5rem;
		margin-bottom: 2rem;
		a{
			display: flex;
			justify-content: space-between;
			border: var(--c-g3) solid 1px;
			color: var(--c-black);
			background-color: var(--c-white);
			align-items: center;
			&:first-child{
				border-radius:1rem 0 0 1rem;
			}
			&:last-child{
				border-radius:0 1rem 1rem 0;
			}
			&::before{
				font-size: 1rem;
				transition: all .3s ease-in-out;
				color: var(--c-main);
			}
			&.active{
				background-color: var(--c-highlight);
				color: var(--c-highlight-t);
				&::before{
					font-size: 1.5rem;
					color: var(--c-brand);
					rotate: 360deg;
				}
			}
			&:hover{
				&::before{
					font-size: 1.5rem;
					color: var(--c-brand);
					rotate: 360deg;
				}
			}
		}
		&::before{
			content: '';
			display: block;
			width:100%;
			position: absolute;
			top: 50%;
			z-index: -1;
			border-top: 1px solid var(--c-front-brand);
		}
	}

	.school-title{
		font-size: 2rem;
		margin-bottom: 3rem;
	}
	.school-info{
		clear: both;
		margin-bottom: 3rem;
		.align-right{
			text-align: right;
		}
	}

	.tags{
		.tag{
			border-width: 2px;
			color: var(--c-brand-t);
			&:has(input:checked) {
				border: 2px solid var(--c-highlight);
				background-color: var(--c-highlight);
				span{
					&::before{
						margin-right: .5ch;
						opacity: 1;
						color: var(--c-highlight-t);
					}
				}
			}
			input{
				opacity: 0;
				scale: 0;
				visibility: hidden;
				display: none;
			}
			&:hover{
				border: 2px solid var(--c-highlight);
			}
		}
	}
}