// @use 'sass:math';
@use "../abstracts/mixins" as *;

#loginHeader{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	img{
		margin: .8rem 0;
		height: 3.5rem;
	}
	span{
		display: inline-block;
		font-size: 1.3rem;
		align-self: center;
		font-weight: bold;
		color: var(--c-front-brand);
	}
	@include SM{
		flex-direction: row;
		img{
			margin: 2rem 0;
			height: 4rem;
		}
		span{
		&::before{
			content: '';
			border-left: 2px solid var(--c-brand);
			margin: 0 1rem;
		}
	}
	}
}

#loginPage{
	position: relative;
	background-color: var(--c-brand);
	margin: 1rem auto 3rem auto !important;
	max-width: 960px !important;
	border-radius: 2rem;
	#loginCard{
		border-radius: 1rem 1rem 0 0;
		background-color: var(--c-back-sub);
	}
	#thirdLoginCard{
		border-radius: 0 0 1rem 1rem;
		background-color: var(--c-main);
		color: var(--c-main-t);
		h2{
			color: var(--c-main-t);
		}
		button, a{
			flex: 1 1 100%;
			border-radius: var(--bs-btn-border-radius);
			display: flex;
			justify-content: flex-start;
			align-items: center;
			text-align: left;
			padding: .5rem .25rem;
			&:not(:hover,:focus){
				background-color: var(--c-lite);
				color: var(--c-dark);
			}
			&:is(:hover,:focus){
				background: var(--c-highlight);
				color: var(--c-highlight-t);
				&::before{
					color: var(--c-highlight-t);
				}
			}
			i{
				width: 2.5rem;
				font-size: 2rem;
				margin-right: .25rem;
				color: var(--c-hover);
				text-align: center;
			}
		}
		div{
			height: auto;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			align-content: space-between;
			padding: 2rem 0 1rem 0;
			hr{
				flex: 0 0 100%;
			}
			button,a{
				width: 100%;
			}
		}
	}
	#forgetPassword{
		float: right;
	}
	@include SM{
		border: 1.5rem solid var(--c-brand);
		#thirdLoginCard{
			div{
				button, a{
					flex: 0 1 calc(50% - .5rem);
				}
			}
		}
	}
	@include MD{
		#loginCard{
			border-radius: 1rem 1rem 0 0;
		}
		#thirdLoginCard{
			border-radius: 0 0 1rem 1rem;
			div{
				height: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-content: space-between;
				padding: 1rem 0;
				hr{
					flex: 0 0 100%;
				}
				button, a{
					flex: 0 1 calc(50% - .5rem);
				}
			}
		}
	}
	@include LG{
		#loginCard{
			border-radius: 1rem 0 0 1rem;
		}
		#thirdLoginCard{
			border-radius: 0 1rem 1rem 0;
		}
	}
}

#togglePassword{
	border-radius: 0 var(--bs-btn-border-radius) var(--bs-btn-border-radius) 0;
	&::before{
		content: '\f06e';
		@include fa-icon;
	}
	&.active{
		&::before{
			content: '\f070';
		}
	}
}